
@font-face {
    font-family: 'National';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/National-Black.woff2?v=12477297667545058419') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/National-Black.woff?v=5048392605809339390') format('woff');
    font-weight: 900;
    font-display: auto;
    font-style: normal;
  }

  @font-face {
    font-family: 'National';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/National-BlackItalic.woff2?v=1713535454122352207') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/National-BlackItalic.woff?v=3694239591871900363') format('woff');
    font-weight: 900;
    font-display: auto;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SourceSansPro';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-Regular.woff2?v=6447066639536202603') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-Regular.woff?v=9057834403440476507') format('woff');
    font-weight: 400;
    font-display: auto;
    font-style: normal;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-RegularItalic.woff2?v=3845933010733923546') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-RegularItalic.woff?v=6511486856497803790') format('woff');
    font-weight: 400;
    font-display: auto;
    font-style: italic;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-SemiBold.woff2?v=13847884934015750863') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-SemiBold.woff?v=8623353170834467350') format('woff');
    font-weight: 600;
    font-display: auto;
    font-style: bold;
  }
  
  @font-face {
    font-family: 'SourceSansPro';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-Bold.woff2?v=3590451248729367623') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-Bold.woff?v=6764438942021157071') format('woff');
    font-weight: 700;
    font-display: auto;
    font-style: bold;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-BoldItalic.woff2?v=14931362485629318754') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-BoldItalic.woff?v=14177551808362819022') format('woff');
    font-weight: 700;
    font-display: auto;
    font-style: italic;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src:    url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-Black.woff2?v=18220485802789148504') format('woff2'),
            url('//cdn.shopify.com/s/files/1/0065/0942/8788/t/7/assets/SourceSansPro-Black.woff?v=17231291025475723432') format('woff');
    font-weight: 900;
    font-display: auto;
    font-style: bold;
  }