@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
body { background: #E8EBEF; height: 100vh; padding: 10px; box-sizing: border-box; overflow: hidden; -webkit-font-smoothing: antialiased; }

.byte-w { font-family: "Source Sans Pro", SourceSansPro, helvetica, arial, sans-serif; max-width: 600px; margin: auto; -ms-flex: initial; flex: initial; -ms-flex-direction: column; flex-direction: column; position: relative; -ms-flex-item-align: start; align-self: flex-start; justify-self: flex-start; overflow: hidden; padding: 0 15px; background: white; border-radius: 4px; }

.byte-w .byte-w-header { background: white; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding: 15px 0; }

.byte-w label { font: 700 18px/1 SourceSansPro; text-transform: capitalize; margin: 0; }

.byte-w form { display: -ms-grid; display: grid; -ms-flex-align: center; align-items: center; -ms-grid-columns: auto min-content min-content; grid-template-columns: auto -webkit-min-content -webkit-min-content; grid-template-columns: auto min-content min-content; grid-gap: 0 5px; width: 100%; }

.byte-w-button, .byte-w-select { height: 50px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; background: transparent; border: 2px solid #E8EBEF; color: hsl; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding: 0 37px 0 13px; font: 700 12px/1 "Source Sans Pro", SourceSansPro, helvetica, arial, sans-serif; text-transform: uppercase; letter-spacing: .1em; cursor: pointer; position: relative; -webkit-appearance: none; -moz-appearance: none; appearance: none; transition: all 0.15s linear; }

.byte-w-button:hover, .byte-w-select:hover { background: #1C1E28; border-color: #1C1E28; color: white; }

.byte-w-button:focus, .byte-w-select:focus { border-color: #1C1E28; outline: none; }

.byte-w-select { background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="8,11.4 2.6,6 4,4.6 8,8.6 12,4.6 13.4,6 "></polygon></svg>') 90% 50%/16px auto no-repeat; }

.byte-w-select:hover { background: #1C1E28 url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white"><polygon points="8,11.4 2.6,6 4,4.6 8,8.6 12,4.6 13.4,6 "></polygon></svg>') 90% 50%/16px auto no-repeat; color: white; }

.byte-w-button.refresh { background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M12,5.639V0L10.229,1.752A5.937,5.937,0,0,0,6,0a6,6,0,1,0,4.8,9.6L9.2,8.4A4,4,0,1,1,6,2,3.944,3.944,0,0,1,8.794,3.171l-1.919,1.9Z" ></path></svg>') 80% 50%/12px auto no-repeat; }

.byte-w-button.refresh:hover { background: #1C1E28 url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="white"><path d="M12,5.639V0L10.229,1.752A5.937,5.937,0,0,0,6,0a6,6,0,1,0,4.8,9.6L9.2,8.4A4,4,0,1,1,6,2,3.944,3.944,0,0,1,8.794,3.171l-1.919,1.9Z" ></path></svg>') 80% 50%/12px auto no-repeat; color: white; }

.byte-w-rows { padding: 0; margin: 0; }

.byte-w-row { -ms-flex: initial; flex: initial; display: -ms-grid; display: grid; -ms-grid-columns: 20% 15% 45% 20%; grid-template-columns: 20% 15% 45% 20%; padding: 0; height: 50px; margin: -1px 0 -1px 0; font-weight: 600; -ms-flex-align: center; align-items: center; border-top: 1px solid #E8EBEF; border-bottom: 1px solid #E8EBEF; }

.byte-w-row > div { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.byte-w-row.loading { position: relative; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.byte-w-row.loading::before { content: ''; position: absolute; left: 40px; right: 40px; height: 6px; -webkit-animation: loading 2s linear infinite; animation: loading 2s linear infinite; background: linear-gradient(90deg, #E8EBEF 40%, #cccccc 50%, #E8EBEF 60%); background-size: 400% 100%; border-radius: 100px; }

@-webkit-keyframes loading { 0% { background-position: 200% 0%; }
  100% { background-position: -200% 0%; } }

@keyframes loading { 0% { background-position: 200% 0%; }
  100% { background-position: -200% 0%; } }

.byte-w-logo { max-width: 100px; height: 32px; margin: auto; position: relative; transition: all 0.3s linear; }

.byte-w-logo img { width: 100%; height: 100%; -o-object-fit: contain; object-fit: contain; display: block; }

body:hover .byte-w-logo::before { background: transparent; }

body:hover .byte-w-logo::after { opacity: 0; }

.byte-w-distribution-value { width: 100%; height: 6px; background: #E8EBEF; border-radius: 20px; overflow: hidden; position: relative; }

.byte-w-distribution-value span { position: absolute; top: 0; left: 0; height: 100%; -webkit-transform-origin: 0 50%; transform-origin: 0 50%; border-radius: 20px; background: #ED2524; transition: all 0.3s linear; }

.byte-w-distribution-value.consumer-affairs span { background: #1b628e; }

.byte-w-distribution-value.best-company span { background: #ffcb27; }

.byte-w-distribution-value.bbb span { background: #136796; }

.byte-w-distribution-value.google span { background: #3ebb56; }

.byte-w-distribution-value.resellerratings span { background: #f9a443; }

.byte-w-distribution-value.glassdoor span { background: #0bab41; }

.byte-w-distribution-value.feedback span { background: #00add7; }

.byte-w-total-reviews { display: -ms-flexbox; display: flex; }

.byte-w-star { color: gold; margin-left: 6px; }

.byte-w-distribution-text { font-weight: normal; color: #1C1E28; font-size: small; font-weight: normal; }

.byte-w-total-reviews { padding-left: 15px; }

.byte-w-distribution-text { margin-left: 6px; }

.byte-w-footer { background: none; padding: 5px 0; color: #A2B1C1; font-size: small; }

@media screen and (max-width: 540px) { .byte-w .byte-w-header { -ms-flex-direction: column; flex-direction: column; -ms-flex-align: start; align-items: flex-start; }
  .byte-w .byte-w-header h3 { margin-bottom: 15px; }
  .byte-w label { font-size: 14px; }
  .byte-w-row { grid-gap: 0 15px; -ms-grid-columns: 60px 15% auto 20%; grid-template-columns: 60px 15% auto 20%; }
  .byte-w-logo { max-width: 48px; }
  .byte-w-total-reviews { padding-left: 0; }
  .byte-w-distribution-text { font-size: 10px; }
  .byte-w-select { padding-right: 30px; }
  .byte-w-button.refresh { font-size: 0; color: transparent; background-position: 50% 50%; padding: 0 24px; } }
