@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$font-stack: 'Source Sans Pro', SourceSansPro, helvetica, arial, sans-serif;
$color-putty25:  #E8EBEF;
$color-byte: #ED2524;
$color-navy: #1C1E28;
$color-putty: #A2B1C1;

body {
    background: $color-putty25;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.byte-w {
    font-family: $font-stack;
    max-width: 600px;
    margin: auto;
    flex: initial;
    flex-direction: column;
    position: relative;
    align-self: flex-start;
    justify-self: flex-start;
    overflow: hidden;
    padding: 0 15px;
    background: white;
    border-radius: 4px;
}

.byte-w .byte-w-header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.byte-w label {
    font: 700 18px/1 SourceSansPro;
    text-transform: capitalize;
    margin: 0;
}

.byte-w form {
    display: grid;
    align-items: center;
    grid-template-columns: auto min-content min-content;
    grid-gap: 0 5px;
    width: 100%;
}

.byte-w-button,
.byte-w-select {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid $color-putty25;
    color: hsl;
    white-space: nowrap;
    user-select: none;
    padding: 0 37px 0 13px;
    font: 700 12px/1 $font-stack;
    text-transform: uppercase;
    letter-spacing: .1em;
    cursor: pointer;
    position: relative;
    appearance: none;
    transition: all 0.15s linear;
    &:hover {
        background: $color-navy;
        border-color: $color-navy;
        color: white;
    }
    &:focus {
        border-color: $color-navy;
        outline: none;
    }
}
.byte-w-select {
    $path: '<polygon points="8,11.4 2.6,6 4,4.6 8,8.6 12,4.6 13.4,6 "></polygon>';
    $icon-arrow: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">#{$path}</svg>';
    $icon-arrow-hover: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white">#{$path}</svg>';
    background: url('data:image/svg+xml;utf-8,#{$icon-arrow}') 90% 50%/16px auto no-repeat;
    &:hover {
        background: $color-navy url('data:image/svg+xml;utf-8,#{$icon-arrow-hover}') 90% 50%/16px auto no-repeat;
        color: white;
    }
}
.byte-w-button.refresh {
    $path: '<path d="M12,5.639V0L10.229,1.752A5.937,5.937,0,0,0,6,0a6,6,0,1,0,4.8,9.6L9.2,8.4A4,4,0,1,1,6,2,3.944,3.944,0,0,1,8.794,3.171l-1.919,1.9Z" ></path>';
    $icon-refresh: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">#{$path}</svg>';
    $icon-refresh-hover: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="white">#{$path}</svg>';
    background: url('data:image/svg+xml;utf-8,#{$icon-refresh}') 80% 50%/12px auto no-repeat;
    &:hover {
        background: $color-navy url('data:image/svg+xml;utf-8,#{$icon-refresh-hover}') 80% 50%/12px auto no-repeat;
        color: white;
    }
    
}

.byte-w-rows {
    padding: 0;
    margin: 0;
}

.byte-w-row {
    flex: initial;
    display: grid;
    grid-template-columns: 20% 15% 45% 20%;
    padding: 0;
    height: 50px;
    margin: -1px 0 -1px 0;
    font-weight: 600;
    align-items: center;
    border-top: 1px solid $color-putty25;
    border-bottom: 1px solid $color-putty25;
     > div {
        display: flex;
        align-items: center;
        justify-content: center;
     }
}

.byte-w-row.loading {
    position: relative;
    display: flex;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        left: 40px;
        right: 40px;
        height: 6px;
        animation: loading 2s linear infinite;
        background: linear-gradient(90deg, $color-putty25 40%, hsl(0, 0%, 80%) 50%, $color-putty25 60%);
		background-size: 400% 100%;
        border-radius: 100px;
    }
}

@keyframes loading {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}

.byte-w-logo {
    max-width: 100px;
    height: 32px;
    margin: auto;
    position: relative;
    transition: all 0.3s linear;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }
}

body:hover {
    .byte-w-logo::before {
        background: transparent;
    }
    .byte-w-logo::after {
        opacity: 0;
    }
}

.byte-w-distribution-value {
    width: 100%;
    height: 6px;
    background: $color-putty25;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform-origin: 0 50%;
        border-radius: 20px;
        background: $color-byte;
        transition: all 0.3s linear;
    }
    &.consumer-affairs span {
        background: #1b628e;
    }
    &.best-company span {
        background: #ffcb27;
    }
    &.bbb span {
        background: #136796;
    }
    &.google span {
        background: #3ebb56;
    }
    &.resellerratings span {
        background: #f9a443;
    }
    &.glassdoor span {
        background: #0bab41;
    }
    &.feedback span {
        background: #00add7;
    }
}

.byte-w-total-reviews {
    display: flex;
}

.byte-w-star {
    color: gold; 
    margin-left: 6px;
}

.byte-w-distribution-text {
    font-weight: normal;
    color: $color-navy;
    font-size: small;
    font-weight: normal;
}

.byte-w-total-reviews {
    padding-left: 15px;
}

.byte-w-distribution-text {
    margin-left: 6px;
}

.byte-w-footer {
    background: none;
    padding: 5px 0;
    color: $color-putty;
    font-size: small;
}

@media screen and (max-width: 540px) {
    .byte-w .byte-w-header {
        flex-direction: column;
        align-items: flex-start;
        h3 {
            margin-bottom: 15px;
        }
    }
    .byte-w label {
        font-size: 14px;
    }
    .byte-w-row {
        grid-gap: 0 15px;
        grid-template-columns: 60px 15% auto 20%;
    }
    .byte-w-logo {
        max-width: 48px;
    }
    .byte-w-total-reviews {
        padding-left: 0;
    }
    .byte-w-distribution-text {
        font-size: 10px;
    }
    .byte-w-select {
        padding-right: 30px; 
    }
    .byte-w-button.refresh {
        font-size: 0;
        color: transparent;
        background-position: 50% 50%;
        padding: 0 24px;
    }
}