<template>
    <div class='instructions'>
        <h3>2. Install Your Signature for...</h3>
        <div
            class='tabs'
        >
            <div
                v-for='(tab, idx) in tabs'
                :key='tab.name'
                :class='{ active: activeIndex === idx }'
                @click='$emit("change", activeIndex === idx ? -1 : idx)'
                class='tab'
            >
                <img :src='tab.icon'/>
                {{tab.name}}
                <small class='tab-device'>({{tab.device}})</small>
            </div>
        </div>
        <ol
            v-if='activeIndex === 0'
            :class='{"is-active": activeIndex === 0 }'
        >
            <li>
                After having created your signature (from Step 1), copy it to the clipboard by clicking on the following button:<br>
                <SignatureFormButton
                    type='submit'
                    :style='`min-width: 140px; margin-top: 15px;`'
                    form='signature-form'
                    :text='`Copy Signature`'
                />
            </li>
            <li>
                Click on the following link to go directly to Settings in your Outlook web app: <a href='https://outlook.office365.com/mail/options/mail/messageContent' target='_blank' ref='noopener' style='font-family: inherit;'>outlook.office365.com</a>
                <p style="margin-top: 15px;"><small>Note: if the link doesn’t go directly to “Settings,” make sure your browser’s “pop-up blocker” is disabled.</small></p>
            </li>
            <li>
                Click on the <strong>Email signature</strong> field to paste your signature into it by using the keys ⌘ command + V (Mac) or Ctrl + V (Win). Then, click the <strong>Save</strong> button and close the <strong>Settings</strong> window to exit.
            </li>
        </ol>
        <ol
            v-if='activeIndex === 1'
            :class='{ "is-active": activeIndex === 1 }'
        >
            <li>
                Open the the Mail App, and go to <BreadCrumbSteps :steps='[ "Mail", "Preferences", "Signatures"]'/>
                <br>
                <br>
                <ToggleImage :src="require('@/assets/step1.png')" style='left: 35px; box-shadow: -20px 20px 20px rgba(0,0,0,0.125);'/>
                <br>
                <br>
                <br>
                In the Preferences window, select the <strong>Signatures</strong> tab on the top right. Then, on the left column, select <strong>Exchange</strong>.
                <br>
                <br>
                Below the middle column, click the <img src="@/assets/step2.2.png" class='inline' alt="+"> button to enter a name for your signature.
                <ToggleImage :src="require('@/assets/step2.png')" style='margin-top: -10px; margin-bottom: -50px;'/>
            </li>
            <li>
                Update the signature that you just added to be the Byte signature (created in Step 1). You’ll do this by, first, bringing up the Spotlight Search (⌘ command + spacebar) and type into it "terminal" and hit return. This opens the Terminal app.
                <ToggleImage :src="require('@/assets/step3.png')"/>
                Copy (⌘ command + C) the following command:
                <br>
                <br>
                <code>open ~/Library/Mail/</code>
                <br>
                <br>
                Paste (⌘ command + V) the above command into the Terminal app and hit return to open the <strong>Mail</strong> folder. In it, find a folder named with a capital <strong>V</strong>, followed by a number. Open the folder and go to <BreadCrumbSteps :steps='[ "MailData", "Signatures"]'/>.
                <ToggleImage :src="require('@/assets/step3.1.png')" style='margin-bottom: -30px;'/>
            </li>
            <li>
                Find the file with the <strong>.mailsignature</strong> extension. Open it by choosing to do so with the <strong>TextEdit</strong> app.
            </li>
            <li>
                With the file open, delete the highlighted block of HTML code, as shown below.
                <ToggleImage :src="require('@/assets/step6.png')" style='margin-bottom: -40px;'/>
            </li>
            <li>
                Copy the signature you created (from Step 1) to the clipboard by clicking on the following button:<br>
                    <SignatureFormButton
                        @click.native='copySigHTML'
                        style='min-width: 140px; margin-top: 10px;'
                        :text='`Copy Signature`'
                    />
            </li>
            <li>Paste (⌘ command + V) the signature, which is codified in HTML, into the same spot where the previous block of HTML was deleted. Save the updated <strong>.mailsignature</strong> file and close it.</li>
            <li>Restart the Mail app. Compose a new email and you can access your Byte signature from the dropdown menu on the top right.</li>
        </ol>
        <ol
            v-if='activeIndex === 2'
            :class='{ "is-active": activeIndex === 2 }'
        >
            <li>
                After having created your signature (from Step 1), copy it to the clipboard by clicking on the following button:<br>
                <SignatureFormButton
                    type='submit'
                    :style='`min-width: 140px; margin-top: 15px;`'
                    form='signature-form'
                    :text='`Copy Signature`'
                />
            </li>
            <li>
                Open the Windows Mail app
            </li>
            <li>
                Go to <BreadCrumbSteps :steps='[ "Settings", "Signature", "Email signature" ]'/>
            </li>
            <li>
                 Paste (Ctrl+V) the signature and save.
            </li>
        </ol>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue';

import  SignatureFormButton from './SignatureFormButton.vue';
import  BreadCrumbSteps from './BreadCrumbSteps';
import  ToggleImage from './ToggleImage.vue';
import { IClient } from '@/types';

export default Vue.extend({
    name: 'SignatureInstructions',
    components: {
        SignatureFormButton,
        BreadCrumbSteps,
        ToggleImage
    },
    props: {
        activeIndex: {
            type: Number,
            default: -1
        },
        activeDeviceName: {
            type: String
        },
        tabs: {
            type: Array as () => IClient[]
        }
    },
    methods: {
        copySigHTML() {
            const sig = <HTMLElement>document.querySelector('.email-window section');
            const html = sig.outerHTML.replace(/section/gi, 'body').replace(/\s{2,}/g, '');
            navigator.clipboard.writeText(html).catch(console.error);
        }
    }
});
</script>

<style lang="scss">
@import '../styles/theme.scss';
.instructions {
    margin: 100px auto;
    width: 100%;
    max-width: 1024px;
    grid-gap: 0 30px;
    .tabs {
        display: flex;
        .tab {
            flex: 1;
            letter-spacing: normal;
            text-transform: none;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: none;
            font: 600 16px/1.45 'Source Sans Pro', helvetica, arial, sans-serif;
            padding: 20px 0;
            outline: none;
            background: transparent;
            text-align: center;
            cursor: pointer;
            &.active {
                background: $navy10;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -40px;
                    margin: auto;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px;
                    border-color: $navy10 transparent transparent transparent;
                }
            }
        }
        .tab:not(:first-child) {
            margin-left: -2px;
        }
        .tab .tab-device {
            font-weight: normal;
            color: $navy60;
        }
        .tab img {
            width: 32px;
            height: 32px;
            object-fit: contain;
            margin-bottom: 5px;
        }
        .tab button {
            font: 600 12px/1 'Source Sans Pro', sans-serif;
            letter-spacing: 0.1em;
            padding: 10px;
            width: auto;
            background: transparent;
            border: 2px solid $navy;
            color: $navy;
            text-transform: uppercase;
            display: inline-block;
            outline: none;
            cursor: pointer;
        }
        .tab .tab-ghost {
            margin: 10px 0 0;
            &:hover {
                background: $navy;
                color: white;
            }
        }
        .tab .tab-button {
            margin: 20px 0 0 0;
            width: 100%;
            background: transparent;
            border-color: transparent;
            color: $navy60;
            cursor: pointer;
            &.active {
                background: $navy10;
                color: $navy;
            }
        }
    }
    .carat {
        opacity: 0.5;
        font-weight: normal;
        display: inline-block;
        margin: 0 5px;
    }
    ol {
        background: $navy10;
        padding: 0 15px 15px;
        align-self: center;
        position: relative;
        counter-reset: step;
        margin: 30px auto;
        li {
            margin: 0 20px 0 20px;
            padding: 30px 0 30px 10px;
            list-style-type: upper-alpha;
            position: relative;
            line-height: 1.3;
            &:before {
                font-size: small;
                font-weight: 600;
                counter-increment: step;
                content: counter(step) " –";
                width: 24px;
                height: 24px;
                border-radius: 24px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                opacity: 1;
                display: none;
            }
            &:not(:last-child) {
                border-bottom: 1px solid $navy20;
            }
        }
    }
    code {
        background: $mint50;
    }
    a[href] {
        color: $navy;
        text-decoration: underline !important;
        &:hover {
            color: $byte !important;
            text-decoration: none !important;
        }
    }
    p {
        margin: 0 0 20px;
    }
    video {
        margin: 15px auto;
        --size: 500px;
        display: block;
        width: var(--size);
        height: calc(var(--size) * 0.69);
        object-fit: cover;
    }
    img.inline {
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
}

</style>
