<template>
    <section :style="`margin: 0px; padding: 0; -webkit-text-size-adjust: 100%; ${styles.textRegular} background-color: white;`">
        <div v-html='styleBlock()'/>
        <table style="border-collapse: collapse; width: 100%; background: white;">
            <tr>
                <td style='vertical-align: middle;'>
                    <table style="border-collapse: collapse; width: 100%; background: white; vertical-align: middle;">
                        <tr>
                            <td
                                :width='styles.logoWidth'
                                :style="`width: ${styles.logoWidth}px; vertical-align: middle; padding-right: 15px;`"
                            >
                                <a
                                    href="https://byteme.com"
                                    target="_blank"
                                    rel="nofollow"
                                    :style="`display: block; width: ${styles.logoWidth}px; height: ${styles.logoHeight}px;`"
                                >
                                    <img
                                        src="https://cdn.shopify.com/s/files/1/0075/0505/1719/files/logo.png?v=1612829148"
                                        :width="styles.logoWidth"
                                        :height="styles.logoHeight"
                                        border='0'
                                        alt="Byte®"
                                        :style="`display: inline-block; width: ${styles.logoWidth}px; height: ${styles.logoHeight}px; min-width: 48px;`"
                                    />
                                </a>
                            </td>
                            <td :style='`padding-left: 21px; border-left: 1px solid #e3e8ed`'>
                                <!-- Name -->
                                <div
                                    :style="`${styles.textBold}`"
                                    v-html='signature.name'
                                />

                                <!-- Title -->
                                <div 
                                    :style="`margin: 0px 0 2px; ${styles.textRegular} opacity: ${styles.textOpacity};`"
                                    v-html='signature.title'
                                />

                                <!-- Tel -->
                                <table
                                    v-if='signature.tel || signature.tel2'
                                    :style='`margin: 8px 0; opacity: ${styles.textOpacity}; border-collapse: collapse; background: white; vertical-align: middle;`'
                                >
                                    <tr>
                                        <td :style='`${styles.link}`'>
                                            <SignatureLink
                                                v-if='signature.tel'
                                                :href='`tel:${signature.tel.replace(/\D/g, "")}`'
                                                :removeAnchors='removeAnchors'
                                            >
                                                {{formatPhone(signature.tel)}}
                                            </SignatureLink>
                                        </td>
                                        <td
                                            v-if='signature.tel2'
                                            :style='`${styles.link}`'
                                            width='10'
                                        />
                                        <td 
                                            v-if='signature.tel2'
                                            :style='`${styles.link}`'
                                        >
                                            <SignatureLink
                                                v-if='signature.tel2'
                                                :href='`tel:${signature.tel2.replace(/\D/g, "")}`'
                                                :removeAnchors='removeAnchors'
                                            >
                                                <span v-if='signature.tel && signature.tel2'>M:</span>
                                                {{formatPhone(signature.tel2)}}
                                            </SignatureLink>
                                        </td>
                                    </tr>
                                </table>

                                <table :style="`border-collapse: collapse; background: white; vertical-align: middle; opacity: ${styles.textOpacity}; height: 17px;`">
                                    <tr>
                                        <td :style='`vertical-align: middle; background: white; ${styles.link}`'>
                                            <SignatureLink
                                                href='https://byteme.com'
                                                :removeAnchors='removeAnchors'
                                            >
                                                byteme.com
                                            </SignatureLink>
                                        </td>
                                        <td width='6' :style="`width: 6px;`">&nbsp;</td>
                                        <td :style="`border-left: 1px solid ${styles.color.putty75};`">&nbsp;</td>
                                        <td width='3' :style="`width: 3px;`">&nbsp;</td>
                                        <td :style='`vertical-align: middle; ${styles.link}`'>
                                            <a
                                                :style="`width: ${styles.iconSocialSize}px; height: ${styles.iconSocialSize}px; display: table-cell; margin-right: 5px; vertical-align: middle;`"
                                                href="https://www.facebook.com/byteofficial"
                                            >
                                                <img 
                                                    :src="icons.facebook"
                                                    :width="`${styles.iconSocialSize}`"
                                                    :height="`${styles.iconSocialSize}`"
                                                    alt="Facebook"
                                                    :style="`display: block; width: ${styles.iconSocialSize + 1}px; height: ${styles.iconSocialSize + 1}px;`"
                                                    border='0'
                                                />
                                            </a>
                                        </td>
                                        <td width='2' :style='`width: 2px;`'>&nbsp;</td>
                                        <td :style='`vertical-align: middle; ${styles.link}`'>
                                            <a
                                                :style="`width: ${styles.iconSocialSize}px; height: ${styles.iconSocialSize}px; display: table-cell; margin-right: 3px; margin-left: 8px; vertical-align: middle;`"
                                                href="https://www.instagram.com/byteofficial"
                                            >
                                                <img
                                                    :src="icons.instagram"
                                                    :width="`${styles.iconSocialSize}`"
                                                    :height="`${styles.iconSocialSize}`"
                                                    alt="Instagram"
                                                    :style="`display: block; width: ${styles.iconSocialSize}px; height: ${styles.iconSocialSize}px;`"
                                                />
                                            </a>
                                        </td>
                                        <td width='7' :style='`width: 7px;`'>&nbsp;</td>
                                        <td :style='`vertical-align: middle; ${styles.link}; white-space: nowrap;`'>
                                            <SignatureLink
                                                href='https://www.instagram.com/byteofficial'
                                                :removeAnchors='removeAnchors'
                                            >
                                                <span style='font-size: 11px; position: relative; top: -1px'>@</span>byteofficial
                                            </SignatureLink>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr v-if='signature.message'>
                <td style="height: 15px;"/>
            </tr>
            <tr
                v-if='signature.message'
                style='`width: 100%;`'
            >
                <td :style="`background: #ECF7F3; color: ${styles.color.text}; padding: 10px 40px 10px 102px; text-align: left; width: 100%;`">
                    <SignatureLink
                        :href="`${signature.messageurl}`"
                        fontBold
                    >
                        <b :style='`color: ${styles.color.text}`'>{{signature.message}}</b>
                    </SignatureLink>
                </td>
            </tr>
        </table>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import SignatureLink from './SignatureLink';
import { formatPhone } from '../utils';
import { ISignature } from '@/types';
import defaults from '../defaults';
import styles from '../styles';

export default Vue.extend({
    name: 'SignatureHTML',
    components: {
        SignatureLink
    },
    props: {
        signature: {
            type: Object as () => ISignature
        },
        removeAnchors: {
            type: Boolean
        }
    },
    data() {
        return {
            icons: {
                instagram: 'https://cdn.shopify.com/s/files/1/0075/0505/1719/files/ig_f9cbfe12-dd65-4862-8536-6a4771c064de.png?v=1614499535',
                facebook: 'https://cdn.shopify.com/s/files/1/0075/0505/1719/files/fb_d45713f8-1559-43fb-a792-6af5e9f91079.png?v=1614499535'
            }
        };
    },
    computed: {
        styles() {
            return styles();
        }
    },
    methods: {
        formatPhone,
        styleBlock
    },
    mounted() {
        this.$el.innerHTML = this.$el.innerHTML
            .replace(/rgb\(34, 34, 34\)/g, '#222222')
            .replace(/rgb\(227, 232, 237\)/g, '#e3e8ed')
            .replace(/rgb\(185, 197, 209\)/g, '#b9c5d1')
            .replace(/rgb\(236, 247, 243\)/g, '#ecf7f3')
    }
});

function styleBlock(): string {
    /**
     * Link
     * Visited
     * Hover
     * Active
     */
    const styles = `
    a,
    a:-webkit-any-link,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a[href],
    a span,
    .ii a[href],
    span[style] {
        text-decoration: none;
        text-decoration: none !important;
        color: ${defaults.color.navy};
        color: ${defaults.color.navy} !important;
        display: inline-block;
    }
    span a span,
    a:-webkit-any-link,
    td {
        font-family: 'Arial', 'Sans-serif';
        color: ${defaults.color.navy};
    }
    `;
    const style = document.createElement('style');
    style.innerHTML = styles.replace(/\s{2,}/g, '');
    return style.outerHTML;
}

</script>
