<template>
    <button
        @click='onClick'
        :class='{ [formButtonClass]: true }'
        :data-text='formButtonDataText'
        v-text='computedText'
    />
</template>

<script lang="ts">
import Vue from 'vue';
import defaults from '@/defaults';

export default Vue.extend({
    name: 'SignatureFormButton',
    props: {
        text: {
            type: String,
            default: defaults.copySignature
        }
    },
    data() {
        return {
            copied: false
        }
    },
    computed: {
        computedText(): string {
            return this.copied ? 'Copied' : this.text;
        },
        formButtonClass(): string {
            return this.copied ? 'is-copied' : '';
        },
        formButtonDataText(): string {
            return this.copied ? 'Copied' : '';
        }
    },
    methods: {
        onClick() {
            this.toggleButtonText();
        },
        toggleButtonText() {
            if (this.copied) return;
            this.copied = true;
            setTimeout(() => {
                this.copied = false;
            }, 1000);
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../styles/theme.scss';

 button {
    position: relative;
    padding: 8px 12px;
    padding: 11px 15px;
    margin: 0 4px;
    font-size: 12px;
    vertical-align: initial;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1em;
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    appearance: none;
    transition: all .15s;
    border: 2px solid $navy;
    cursor: pointer;
    outline: none;
    display: inline-block;
    background: $navy;
    color: white;
    &:hover {
        background: transparent;
        color: $navy;
        border: 2px solid $navy;
    }
    &:active {
        color: white;
        background: rgba($navy, 0.5);
    }
}


button.is-copied::after {
    content: attr(data-text);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float-away 0.6s ease-out;
}

@keyframes float-away {
    0% {
        transform: translate3d(0, 0px, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -25%, 0) scale(1.0);
        opacity: 0;
    }
}

</style>
