<template>
    <form
        @submit='onFormSubmit'
        id='signature-form'
        class='signature-form'
    >
        <div class='field'>
            <input
                type='text'
                id='name'
                placeholder='Full Name'
                autocomplete='name'
                @input='onInput'
                v-model='signature.name'
            />
            <label for='name'>Full Name</label>
        </div>
        <div class='field'>
            <input
                type='text'
                id='title'
                placeholder='Title or Department'
                @input='onInput'
                v-model='signature.title'
            />
            <label for='title'>Title or Department</label>
        </div>
        <div class='fields'>
            <div class='field'>
                <input
                    type='text'
                    id='tel'
                    maxlength='12'
                    placeholder='310.002.0003'
                    autocomplete='tel'
                    @input='onInput'
                    v-model='signature.tel'
                />
                <label for='tel'>Office</label>
            </div>
            <div class='field'>
                <input
                    type='text'
                    id='tel2'
                    maxlength='12'
                    placeholder='310.002.0004'
                    autocomplete='tel'
                    @input='onInput'
                    v-model='signature.tel2'
                />
                <label for='tel2'>Mobile (optional)</label>
            </div>
        </div>
        <div class='field'>
            <textarea
                type='text'
                id='message'
                rows='3'
                maxlength='150'
                placeholder='Ask me how you can earn $200, just by telling friends about Byte!'
                @input='onInput'
                v-model='signature.message'
            />
            <label for='message'>Message (Max 150)</label>
        </div>
        <div class='field'>
            <input
                type='text'
                id='messageurl'
                placeholder='https://www.byteme.com/pages/refer'
                @input='onInput'
                v-model='signature.messageurl'
            />
            <label for='messageurl'>Message URL</label>
        </div>
        <a
            class='form-reset'
            @click='onResetForm'
            v-text='`Reset`'
        />
    </form>
</template>

<script lang="ts">
import Vue from 'vue';

import defaults from '../defaults';
import { formatPhone } from '../utils';

export default Vue.extend({
    name: 'SignatureForm',
    data() {
        return {
            signature: {
                ...defaults.signature
            } as { [key: string]: any }
        };
    },
    watch: {
        'signature.tel'(tel) {
            this.signature.tel = formatPhone(tel);
        },
        'signature.tel2'(tel2) {
            this.signature.tel2 = formatPhone(tel2);
        },
    },
    methods: {
        onResetForm() {
            this.signature = { ...defaults.signature };
            this.emmitAll(this.signature);
            this.setStorage();
        },
        onInput(event: InputEvent) {
            event.preventDefault();
            const input = <HTMLInputElement>event.target;
            const id: string = input.id;
            const value: string = input.value;
            this.$emit('input', { id, value });
            this.signature[id] = value;
            this.setStorage();
        },
        onFormSubmit(event: Event) {
            event.preventDefault();
            this.$emit('submit', { ...this.signature });
        },
        setStorage() {
            window.localStorage.setItem('defaults', JSON.stringify({ ...this.signature }));
        },
        getStorage() {
            const data = window.localStorage.getItem('defaults');
            if (data) {
                const defaults = JSON.parse(data);
                this.signature = defaults;
                this.emmitAll(defaults);
            }
        },
        emmitAll(inputs: any) {
            for (let setting in inputs) {
                this.$emit('input', {
                    id: setting,
                    value: inputs[setting]
                });
            }
        }
    },
    mounted() {
        this.getStorage();
    }
});
</script>

<style lang="scss">
@import '../styles/theme.scss';

.signature-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    button {
        position: relative;
    }
    button:active {
        /* color: $green; */
        /* border-color: $green; */
        animation: smash 0.6s ease-out;
    }
    button.is-copied::after {
        content: attr(data-text);
        position: absolute;
        z-index: 1;
        color: $navy40;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: float-away 0.6s ease-out;
    }

    .form-reset {
        font: 400 12px/1 'Source Sans Pro';
        display: inline-block;
        margin: 5px 0 0 20px;
        text-align: center;
        color: $navy40!important;
        cursor: pointer;
        align-self: flex-end;
        background: $navy10;
        padding: 10px 30px;
        &:hover {
            color: $navy!important;
        }
    }
}

@keyframes float-away {
    0% {
        transform: translate3d(0, 0px, 0) scale(1);
        color: $green;
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -25%, 0) scale(1.0);
        opacity: 0;
    }
}

@keyframes smash {
    0% {
        transform: translate3d(0, 0px, 0) scale(1);
    }
    100% {
        transform: translate3d(0, 0%, 0) scale(0.975);
    }
}

.signature-form .fields {
    display: flex;
    .field:not(:first-of-type) {
        margin-left: 10px;
    }
}

.signature-form .field {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 15px;
    position: relative;
    label {
        font: 400 12px/1 'Source Sans Pro';
        display: block;
        padding: 5px;
        color: $navy40;
        background: $navy5;
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(-50%);
        box-sizing: border-box;
        align-self: flex-start;
        z-index: 1;
    }
    textarea,
    input {
        font: 400 16px/1.5 'Source Sans Pro';
        align-self: flex-start;
        padding: 10px 20px;
        border: 2px solid $navy10;
        resize: none;
        box-sizing: border-box;
        background: $navy5;
        box-sizing: border-box;
        &:focus {
            outline: none;
            border-color: $navy;
        }
        &:focus + label {
            color: $navy;
        }
    }
    #title,
    #messageurl,
    textarea {
        width: 100%;
    }
    #tel,
    #tel2 {
        width: 140px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: $navy;
        -webkit-box-shadow: 0 0 0px 1000px $navy5 inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    ::-webkit-input-placeholder { color: $navy40; }
    ::-moz-placeholder { color: $navy40; }
    :-ms-input-placeholder { color: $navy40; }
    :-moz-placeholder { color: $navy40; }
}

</style>
