<template>
    <figure class='toggle-image'>
        <img
            v-show='isActive'
            :src='src'
            alt='example'
        />
        <!-- <figcaption @click='toggleImage'>Example</figcaption> -->
    </figure>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'ToggleImage',
    props: {
        src: {
            type: String
        }
    },
    data() {
        return {
            isActive: true
        }
    },
    methods: {
        toggleImage() {
            this.isActive = !this.isActive;
        }
    }
});
</script>

<style lang="scss">
@import '../styles/theme.scss';
.toggle-image {
    position: relative;
    margin: 0 auto 0;
    img {
        width: 100%;
        display: block;
    }
    figcaption {
        margin: 15px 0;
        font-size: 15px;
        font-weight: 600;
        color: $byte;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
    }
}
</style>
