$g-transition: 0.15s ease-in-out;
$copied-dur: 1s;

.purl-friendbuy-widget {
    --color-byte: #ED2523;
    --color-text: #1C1E29;
    --color-text-light: #77787F;
    --color-offwhite: #F8F8F8;
    --color-border: #EFEFF0;
    --color-green: #33A87C;

    --ui-radius: 7px;
    --ui-input-height: 60px;
    --ui-font-size: 18px;
    --ui-font-size-h3: 34px;
    --ui-font-size-h4: 24px;

    font-family: 'Source Sans Pro', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: var(--color-text-light);
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 90px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.purl-friendbuy-widget h3 {
    font-size: var(--ui-font-size-h3);
    line-height: 0.8em;
    font-weight: 900;
    font-style: italic;
    font-family: National, system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: var(--color-text);
    grid-column: span 2;
    margin: 0 0 15px;
    span {
        color: var(--color-byte);
    }
}

.purl-friendbuy-widget h4 {
    font-size: var(--ui-font-size-h4);
    color: var(--color-text);
    font-family: National, system-ui, -apple-system, Helvetica, Arial, sans-serif;
    margin: 0 0 15px;
    font-weight: 600;
}

.purl-friendbuy-widget p {
    font-size: var(--ui-font-size);
    line-height: 1.45;
    margin: 0 0 15px;
}

.purl-friendbuy-widget strong {
    color: var(--color-text);
}

// Text Marketing Message
.purl-friendbuy-widget .purl-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: var(--ui-radius) 0 0 var(--ui-radius);
    width: 100%;
    box-sizing: border-box;
    p:last-of-type {
        margin: 0;
    }
}

// Share Input
.purl-share {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background: var(--color-offwhite);
    border: 1px solid var(--color-border);
    border-left: none;
    border-radius: 0 var(--ui-radius) var(--ui-radius) 0;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    .purl-button {
        height: var(--ui-input-height);
        background: transparent;
        padding: 0 0 0 60px;
        border: none;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        outline: none;
    }
    .purl-icon {
        position: absolute;
        left: 0;
        width: 60px;
        height: var(--ui-input-height);
        pointer-events: none;
        fill: var(--color-green);
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-border);
        border-radius:var(--ui-radius) 0 0 var(--ui-radius);
        transition: $g-transition;
    }
    .purl-input {
        flex: 1;
        height: var(--ui-input-height);
        background: white;
        padding: 0 15px;
        font-size: var(--ui-font-size);
        color: var(--color-text-light);
        font-family: 'Source Sans Pro';
        position: relative;
        border: 1px solid var(--color-border);
        border-left: none;
        z-index: 1;
        cursor: pointer;
        transition: $g-transition;
        outline: none;
    }
    label[for="purl-input-link"], 
    .purl-feedback {
        padding: 0 25px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        height: var(--ui-input-height);
        font-size: var(--ui-font-size);
        font-weight: 700;
        font-family: 'Source Sans Pro';
        width: 130px;
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
    }
    label[for="purl-input-link"] {
        background: var(--color-green);
        color: white;
        border-radius: 0 var(--ui-radius) var(--ui-radius) 0;
        position: relative;
        cursor: pointer;
        transition: $g-transition;
    }
    .purl-feedback {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        color: var(--color-text);
        pointer-events: none;
        transition: 
            color $copied-dur ease-out,
            opacity 0.05s ease-out;
    }

    // Hover States
    .purl-button:hover {
        .purl-icon {
            fill: var(--color-text);
        }
        .purl-input {
            color: var(--color-text);
        }
        label[for="purl-input-link"] {
            background: var(--color-text);
        }
    }
}

// When Copied
.purl-button.is-copied {
    .purl-icon {
        fill: black;
        transition: fill $copied-dur linear;
    }
}

.purl-feedback.is-copied {
    animation: copied 1s ease-in-out;
    transform: translate3d(0, -60px, 0);
}

@keyframes copied {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
    30% {
        opacity: 1;
        color: var(--color-green);
    }
    100% {
        transform: translate3d(0, -60px, 0);
        opacity: 0;
    }
}

@media screen and (max-width: 768px){
    .purl-friendbuy-widget {
        display: flex;
        flex-direction: column;
        h3 {
            grid-column: initial;
        }
        .purl-text {
            border-radius: var(--ui-radius) var(--ui-radius) 0 0;
        }
        .purl-share {
            border-top: none;
            border-radius: 0 0 var(--ui-radius) var(--ui-radius);
        }
    }
}

@media screen and (max-width: 480px ) {
    .purl-friendbuy-widget {
        --ui-font-size: 16px;
        --ui-font-size-h3: 24px;
        --ui-font-size-h4: 20px;

        margin-top: 60px;
    }
    .purl-friendbuy-widget .purl-text,
    .purl-friendbuy-widget .purl-share {
        padding: 15px;
    }
    .purl-share .purl-button {
        height: auto;
        display: grid;
        grid-gap: 10px 0;
        grid-template-columns: 60px auto;
        padding: 0;
    }
    .purl-share .purl-icon {
        grid-column: 1/2;
        position: relative;
    }
    .purl-share .purl-input {
        border-radius: 0 var(--ui-radius) var(--ui-radius) 0;
    }
    .purl-share label[for="purl-input-link"] {
        grid-row: 2/3;
        grid-column: 1/3;
        width: 100%;
        border-radius: var(--ui-radius);
    }
}