// Colors
$white: #FFFFFF;
$black: #000000;

$byte: #ED2524;
$byte75: #F25C5B;
$byte50: #F69291;
$byte25: #FAC8C8;
$byte10: #FDE9E9;
$byte5:  #FEF4F4;

$mint: #B2DED1;
$mint75: #C5E6DD;
$mint50: #D8EEE8;
$mint25: #ECF7F3;
$mint10: #F7FCFA;
$mint5:  #FBFDFD;

$columnGreen: #c5e5dd;
$columnGreenLite: #daf5ed;

$columnGray: #e8e8e6;
$columnGrayLite: #f9f9f9;


$putty: #A2B1C1;
$putty75: #B9C5D1;
$putty50: #D0D8E0;
$putty25: #E8EBEF;
$putty10: #F6F7F9;
$putty5:  #FAFBFC;

$martini: #818070;
$martini75: #A1A094;
$martini50: #C0BFB7;
$martini25: #DFDFDB;
$martini10: #F2F2F0;
$martini5:  #F9F9F8;

$night: #2F303A;
$navy: #1C1E28;
$navy90: #32343E;
$navy80: #494B54;
$navy70: #606169;
$navy60: #77787F;
$navy50: #8D8E94;
$navy40: #A4A5A9;
$navy30: #BABBBE;
$navy20: #D2D2D4;
$navy10: #E8E8E9;
$navy5:  #F3F4F4;
$navy3:  #F8F8F8;
$navy2:  #FBFBFB;

$green: #10CC9E;
$green75: #4CD9B6;
$green50: #87E5CE;
$green25: #C3F2E7;
$green10: #E7FAF5;
$green5:  #F3FCFA;

$melon:  $green75;
$ash:    $navy10;

// Text colors
$color-body-text: $navy;

// Background colors
$color-body: $white;

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-border: $navy20;

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-heading: 'National', helvetica, arial, sans-serif;
$font-body: 'SourceSansPro', helvetica, arial, sans-serif;
$font-body-weight: 400;
$font-body-bold-weight: 700;
$font-body-style: normal;

// Transitions
$transition-duration: 300ms;
$transition-timing: ease-in-out;

// Core
$mobileNavHeight: 60px;
$desktopNavHeight: 80px;

// Gutter
$grid-gutter: 30px;

// Sprite images
$product-sprite-size: 404px 181px;

// Grid
$container-max-width: 1140px;
$grid-columns: 12;
$gutter-width: 20px;
$outer-margin: 20px;

$media-1:  321px;
$media-2:  480px;
$media-3:  769px;
$media-4:  1024px;
$media-5:  1280px;
$media-6:  1440px;
$media-7:  1920px; // Not a priority :)

$breakpoints:
  xs 0px $media-1,
  sm $media-2 $media-2,
  md $media-3 $media-3,
  lg $media-4 $media-4,
  xl $media-5 $media-5,
  xxl $media-6 $media-6,
  xxxl $media-7 $media-7;

// BG color classes