// Wrapping in the html tag for higher specificity to overwrite default rules
// -----------------------------------------------------------------------------
html {

$white: #FFFFFF;
$black: #000000;
$byte: #ED2524;
$navy: #1C1E28;
$navy10: #E8E8E9;
$navy20: #D2D2D4;
$putty25: #E8EBEF;
$green: #10CC9E;
$green25: #C3F2E7;
$green10: #E7FAF5;
$green5: #F3FCFA;
$putty: #A2B1C1;

$font-body: SourceSansPro, 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-headline: 'National', SourceSansPro, 'Source Sans Pro', Helvetica, Arial, sans-serif;

$trans-dur: 0.33s;

$ui-button-size: 48px;

$byte-logo: 'https://cdn.shopify.com/s/files/1/0075/0505/1719/files/logo.gif?v=1610398645';
$svg-agent-online: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M22,1H2A2,2,0,0,0,0,3V16a2,2,0,0,0,2,2H7.5L12,23l4.5-5H22a2,2,0,0,0,2-2V3A2,2,0,0,0,22,1ZM14,13H6V11h8Zm4-5H6V6H18Z"></path></svg>';
$svg-agent-offline: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M22,1H2A2,2,0,0,0,0,3V16a2,2,0,0,0,2,2H5v6l8-6h9a2,2,0,0,0,2-2V3A2,2,0,0,0,22,1Z"></path></svg>';
$svg-menu-default: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><rect width="26" height="3" transform="translate(14 30)" fill="rgb(210, 210, 212)"/><rect width="26" height="3" transform="translate(14 22)" fill="rgb(210, 210, 212)"/></svg>';
$svg-menu-active: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><rect width="26" height="3" transform="translate(14 30)" fill="rgb(28, 30, 40)"/><rect width="26" height="3" transform="translate(14 22)" fill="rgb(28, 30, 40)"/></svg>';
$svg-menu-open: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 54 54"> <rect fill="rgb(28, 30, 40)" x="25.2" y="13.9" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.1719 26.7594)" width="3" height="26"/> <rect fill="rgb(28, 30, 40)" x="13.7" y="25.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.1719 26.7594)" width="26" height="3"/></svg>';
$svg-chat-bubble: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90 90"><path fill="rgb(232, 235, 239)" d="M6.3,0.8h77.4c3.1,0,5.5,2.5,5.5,5.5v55.3c0,3.1-2.5,5.5-5.5,5.5H56.1L22.9,89.2V67.1H6.3 c-3.1,0-5.5-2.5-5.5-5.5c0,0,0,0,0,0V6.3C0.8,3.3,3.3,0.8,6.3,0.8z"/></svg>';

// The root container class
// -----------------------------------------------------------------------------
.modalContainer.embeddedServiceSidebar {
    -webkit-font-smoothing: antialiased;
}
// Fixed Floating Button
// -----------------------------------------------------------------------------
// Position the <button> to the bottom, right
.modalContainer.sidebarMinimized,
.embeddedServiceHelpButton .helpButton {
    bottom: 20px;
    right: 20px;
}
// Basic styles for the floating <button> element
.embeddedServiceSidebarMinimizedDefaultUI,
.embeddedServiceHelpButton .helpButton .uiButton {
    position: absolute;
    right: 0;
    width: initial;
    height: initial;
    min-height: $ui-button-size;
    min-width: $ui-button-size;
    padding: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba($black, 0.15);
    border-radius: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: $navy;
    font: 600 14px $font-body;
    transition: all $trans-dur ease-in-out;
    border: none;
    span {
        pointer-events: none;
    }
}
// Remove some default styles from the <button>
.embeddedServiceSidebarMinimizedDefaultUI .messageContent .embeddedServiceIcon,
.embeddedServiceHelpButton .helpButton .uiButton:hover::before, 
.embeddedServiceHelpButton .helpButton .uiButton:focus::before {
    display: none;
}
// Square Floating <button> element with Chat Icon
.embeddedServiceSidebarMinimizedDefaultUI #chatButtonAssistiveText,
.embeddedServiceHelpButton .embeddedServiceIcon {
    margin: 0;
    padding: 0;
    width: $ui-button-size;
    height: $ui-button-size;
    min-width: 0;
    max-width: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: $green;
    position: absolute;
    right: 0;
    border-radius: 0;
    border: none;
    overflow: visible;
    box-shadow: none;
    font-size: 0;
    z-index: 1;
    // This changes the default icon with a custom icon, svg as a background image
    // Icon is show wile "Agent is Online" status
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $ui-button-size;
        height: $ui-button-size;
        background: url('data:image/svg+xml;utf-8,#{$svg-agent-online}') 50% 50%/24px auto no-repeat;
        font-size: 24px;
        filter: drop-shadow(0px 1px 1px rgba(black, 0.15));
        pointer-events: none;
    }
    // The left pointing arrow, only shown while hovering <button> 
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-width: 12px;
        border-color: transparent $green transparent transparent;
        border-style: solid;
        left: -24px;
        top: 50%;
        transform: translate3d(12px, -12px, 0);
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    &:focus {
        background: $green;
    }
}
.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover,
.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus {
    background: $green;
}
.helpButtonDisabled .embeddedServiceIcon::before  {
    background: url('data:image/svg+xml;utf-8,#{$svg-agent-offline}') 50% 50%/24px auto no-repeat;
}
// Floating Button Label Text
.embeddedServiceHelpButton .uiButton .helpButtonLabel {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    width: auto;
    height: $ui-button-size;
    background: $green10;
    border: 2px solid $green;
    border-right: none;
    white-space: nowrap;
    max-width: none;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    .message {
        max-width: 0px;
        transform: translate3d(15px, 0, 0);
        opacity: 0;
        transition: all $trans-dur ease-in-out;
    }
}
// While Minimized Floating Button
.embeddedServiceSidebarMinimizedDefaultUI .content {
    padding: 0;
    justify-content: flex-end;
}
.embeddedServiceSidebarMinimizedDefaultUI .content {
    padding: 0;
    margin: 0;
    display: flex;
    height: $ui-button-size;
    background: $green10;
    border: 2px solid $green;
    border-right: none;
    color: $navy;
    font: 600 14px $font-body;
    justify-content: flex-end;
    text-align: right;
    white-space: nowrap;
    max-width: none;
    align-items: center;
}
// Byte's monogram "b" logo, shown while chat is minimized and hovered
.embeddedServiceSidebarMinimizedDefaultUI {
    .minimizedImage {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        .uiImage {
            width: inherit;
            height: inherit;
            border-radius: 0;
        }
        img {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }
    .messageContent {
        margin: 0;
        max-width: 0px;
        transform: translate3d(15px, 0, 0);
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all $trans-dur ease-in-out;
    }
    .queuePositionNumber {
        font: 600 14px $font-body;
    }
    .loadingBall {
        background: $green;
    }
}
// Hover
.embeddedServiceSidebarMinimizedDefaultUI,
.embeddedServiceHelpButton .helpButton .uiButton {
    &:hover {
        border-radius: 0;
        padding-right: $ui-button-size;
        max-width: none;
        .content,
        .helpButtonLabel {
            padding: 0 24px 0 12px;
            overflow: visible;
        }
        .messageContent,
        .message {
            max-width: 300px;
            transform: translate3d(0px, 0, 0);
            opacity: 1;
            transition: 
                opacity $trans-dur ease-out calc($trans-dur / 2),
                max-width $trans-dur ease-out 0s;
        }
        #chatButtonAssistiveText::after,
        .embeddedServiceIcon::after {
            transform: translate3d(0px, -12px, 0);
        }
    }
    &:focus {
        outline: none;
    }
}
.helpButtonEnabled:focus .helpButtonLabel {
    text-decoration: none;
}
// Chat Header
// -----------------------------------------------------------------------------
// Chat header container
.sidebarHeader[embeddedService-chatHeader_chatHeader] {
    padding: 12px 24px;
    border-bottom: 1px solid $putty25;
}
[embeddedService-chatHeader_chatHeader-host] {
    h2,
    h2[embeddedService-chatHeader_chatHeader] {
        color: $navy;
        letter-spacing: normal;
        font-family: $font-body;
        font-weight: 600;
    }
}
img[embeddedService-chatHeader_chatHeader] {
    display: none;
}
h2[embeddedService-chatHeader_chatHeader] {
    font: 700 18px $font-headline;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    // Byte Logo in the chat header
    &:before {
        content: '';
        display: block;
        position: relative;
        left: 0;
        width: 48px;
        height: 22px;
        background: url(#{$byte-logo}) 0 50%/contain no-repeat;
        margin-right: 5px;
    }
}
// Header buttons
button[embeddedService-chatHeader_chatHeader] {
    --icon-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
    background: transparent;
    position: relative;
    top: -2px;
    min-width: 0;
    min-height: 0;
    margin-left: 12px;
    padding: 0;
    *:not(svg) {
        width: var(--icon-size);
        height: var(--icon-size);
        display: block;
    }
    svg {
        fill: $navy20;
    }
    &:hover svg {
        fill: $navy;
    }
    svg[data-key="minimize_window"] {
        position: relative;
        top: -7px
    }
}
// Sign In Form
// -----------------------------------------------------------------------------
.embeddedServiceSidebarForm.formContent {
    padding: 24px 12px;
}
.embeddedServiceSidebarForm .fieldList {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}
.embeddedServiceSidebarFormField.inputSplitName,
.embeddedServiceSidebarForm .embeddedServiceSidebarFormField {
    margin: 0;
    width: 100%;
    position: relative;
}
.embeddedServiceSidebarForm .embeddedServiceSidebarFormField:not(.inputSplitName) {
    grid-column: span 2;
}
.embeddedServiceSidebarForm {
    // Label Element
    .embeddedServiceSidebarFormField .uiInput label {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin: 0;
        padding: 0 12px;
        font: 600 14px $font-body;
        pointer-events: none;

        // While the markup as-is
        position: relative;
        justify-content: flex-end;
        padding: 0;
    }
    .embeddedServiceSidebarFormField .split-field-container, 
    .embeddedServiceSidebarFormField .uiInput--input, 
    .embeddedServiceSidebarFormField .uiInput--select {
        margin: 0;
        &:focus {
            > label {
                opacity: 0;
            }
        }
    }
    .embeddedServiceSidebarFormField .uiInput .required {
        position: relative;
        left: 0;
    }
    // Input Element
    .embeddedServiceSidebarFormField input {
        border: 2px solid $navy20;
        height: 54px;
        line-height: 54px;
        border-radius: 0;
        &:focus {
            outline: none;
            border: 2px solid $navy;
            box-shadow: none;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus {
            box-shadow: inset 0 0 0 300px $green5;
            color: $navy;
        }
    }
}
// Footer Buttons
// -----------------------------------------------------------------------------
// Button Wrapper
.embeddedServiceSidebarForm.buttonWrapper {
    padding: 12px;
}
// Button
.embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton,
.embeddedServiceSidebarButton {
    border-radius: 0;
    height: 58px;
    font: 600 14px $font-body;
    line-height: 54px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.15s ease-in-out;
    &:not(:disabled):focus, 
    &:not(:disabled):hover,
    &:hover {
        background: $navy !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }
    .label {
        transition: all 0.15s ease-in-out;
    }
    &.dialog-button-0,
    &.closeChatButton {
        background: $byte;
        margin-bottom: 12px;
    }
    &.dialog-button-1,
    &.saveTranscriptButton {
        background: transparent;
        border: 2px solid $navy10;
        .label {
            color: $navy;
        }
        &:hover {
            background: transparent !important;
            border-color: $navy;
            .label {
                color: $navy;
            }
        }
        &:focus {
            background: transparent !important;
        }
    }
    &.waitingCancelChat {
        background: transparent;
        border: 2px solid $navy10;
        .label {
            color: $navy;
        }
        &:hover {
            background: transparent !important;
            border-color: $byte;
            .label {
                color: $byte;
            }
        }
        &:focus {
            background: transparent !important;
        }
    }
}
.embeddedServiceSidebarButton {
    background: $green;
    color: $white;
    &:not(:disabled):focus, 
    &:not(:disabled):hover,
    &:hover {
        background: $navy;
        box-shadow: none !important;
        text-decoration: none !important;
    }
}
// While chatting
// -----------------------------------------------------------------------------
// Initial Overlay Message with Timeout
.text[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement],
.announcement[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] {
    margin: 12px;
    padding: 15px;
    border-radius: 7px;
    width: auto;
    display: block;
    font: 14px $font-body;
    color: $white;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        border-radius: inherit;
        background: $navy;
        opacity: 0.75;
        z-index: -1;
    }
}
// Remove the border on focus
.embeddedServiceLiveAgentStateChat .messageArea:focus {
    border: none;
}
// Chat start time (i.e. Chat started at 9:26 AM)
.embeddedServiceLiveAgentStateChat .chatSessionStartTime {
    color: $putty;
    font: 14px $font-body;
    margin: 12px 0 12px;
}
// <li> element of chat messages
.embeddedServiceLiveAgentStateChatItem.chatMessage {
    margin: 0;
    padding: 0 24px;
    display: grid;
    grid-gap: 0 12px;
    grid-template-columns: 48px auto;
    font-family: $font-body;
    overflow: visible;
}
// The agent and customer message container
.embeddedServiceLiveAgentStateChatItem.chatMessage .chatContent {
    grid-column: 2/3;
    margin: 0;
    border-radius: 0;
    background: transparent;
}
// Chat Status Message
.embeddedServiceLiveAgentStateChatItem.chatMessage .embeddedServiceLiveAgentStateChatEventMessage {
    grid-column: span 2;
}
// Agent's name and time underneath chat message
.embeddedServiceLiveAgentStateChatItem .nameAndTimeContent {
    grid-column: 2/3;
    color: $putty;
    font-size: 12px;
    font-family: $font-body;
    align-items: center;
    padding: 3px 0 6px 10px;
    margin: 0;
    .nameAndTimeDotDivider {
        color: $putty;
        background: $putty;
    }
}
// li > div > div
.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent {
    white-space: initial;
    word-break: break-word;
}
// Agent's Avatar
.embeddedServiceLiveAgentStateChatItem .embeddedServiceLiveAgentStateChatAvatar {
    --chat-avatar-size: 48px;
    width: var(--chat-avatar-size);
    height: var(--chat-avatar-size);
    position: absolute;
    top: 0;
    left: 24px;
}
.embeddedServiceLiveAgentStateChatItem .isLightningOutContext .avatar.iconAvatar {
    background: $byte;
    width: var(--chat-avatar-size);
    height: var(--chat-avatar-size);
    line-height: var(--chat-avatar-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: $font-headline;
    font-style: italic;
    font-weight: 900;
    top: 0;
    bottom: initial;
    margin: 0;
    padding: 0;
}
// Agent's chat message
.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent {
    background: $putty25;
    position: relative;
    border-radius: 0;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -12px;
        border-width: 12px;
        border-style: solid;
        border-color: $putty25 $putty25 transparent transparent;
        z-index: -1;
    }
}
// Agent's name underneath chat message 
.embeddedServiceLiveAgentStateChatItem.agent .agentName,
.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent {
    margin-left: 0;
}
// Customer's chat message
.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {
    background: $green25;
    color: $navy;
    position: relative;
    z-index: 1;
}
.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent {
    max-width: none;
    border-radius: 0;
}
.embeddedServiceLiveAgentStateChatItem.chatMessage.chasitor {
    position: relative;
    .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: -12px;
            border-width: 12px;
            border-style: solid;
            border-color: transparent transparent $green25 $green25;
            z-index: -1;
        }
    }
}
// Agent is typing...
.embeddedServiceLiveAgentStateChat .messageWrapper, 
.embeddedServiceLiveAgentStateChat .typingIndicatorContainer, 
.embeddedServiceLiveAgentStateChat .queuePositionContainer {
    padding: 0 0 12px;
}
// Text Area and Context Menu in the footer of chat window
.embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper {
    --icon-menu-width: 48px;
    background: transparent;
    display: grid;
    grid-template-columns: var(--icon-menu-width) auto;
    grid-gap: 0 12px;
    padding: 0 12px 12px;
    height: initial;
    min-height: initial;
    max-height: 72px;
    &:before {
        content: '';
        position: absolute;
        left: 0; right: 0;
        height: 12px;
        top: 0;
        transform: translateY(-100%);
        background: linear-gradient(to bottom, rgba($white, 0) 0%, $white 80%);
        z-index: 1;
    }
    // More Arrow
    .unseenMessageNotificationWrapper  {
        position: absolute;
        left: 12px;
        top: -24px;
        width: var(--icon-menu-width);
        z-index: 1;
        * {
            box-shadow: none !important;
        }
        .unseenMessageNotification[embeddedService-chatUnseenMessageNotification_chatUnseenMessageNotification] {
            left: 6px;
        }
        button.slds-button  {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            background: $putty25;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        button.slds-button svg.slds-button__icon {
            fill: $navy;
            top: 2px;
            position: relative;
        }
        
        button.slds-button:focus {
            svg.slds-button__icon {
                fill: $navy20;
            }
        }
    }
    // More Menu Button 
    .footerMenuWrapper {
        position: relative;
        z-index: 1;
    }
    // The context menu icon
    .footerMenuWrapper .footer-menu {
        width: 100%;
        height: 100%;
        .slds-dropdown-trigger {
            padding: 0;
            width: inherit;
            height: inherit;
        }
        
        // Default context menu button with icon
        .slds-dropdown-trigger button {
            width: 100%;
            height: 100%;
            line-height: 1;
            transform: none;
            outline: none;
            box-shadow: none;
            border: 2px solid transparent;
            border-radius: 0;
            transition: none;
            background: $white url('data:image/svg+xml;utf-8,#{$svg-menu-default}') 50% 50%/52px auto no-repeat;
            position: relative;
            z-index: 1;
            * {
                visibility: hidden;
            }
        }
        
        // While context menu button is open
        // Change the icon
        .slds-is-open button,
        .slds-dropdown-trigger button:focus {
            outline: none;
            border-color: $navy;
        }
        .slds-dropdown-trigger button:focus {
            background: $white url('data:image/svg+xml;utf-8,#{$svg-menu-active}') 50% 50%/52px auto no-repeat;
        }
        .slds-is-open button {
            background: $white url('data:image/svg+xml;utf-8,#{$svg-menu-open}') 50% 50%/52px auto no-repeat;
        }
        .slds-is-open button::before {
            content: '';
            position: absolute;
            left: 0px;
            top: -2px;
            background: $white;
            z-index: 1;
            width: 44px;
            height: 2px;
        }
        // The context menu
        .slds-dropdown {
            box-shadow: none;
            min-width: 0;
            max-width: none;
            width: 100%;
            box-shadow: none;
            position: absolute;
            bottom: initial;
            left: 0;
            height: 100%;
            top: 0;
            background: none;
            transition: none;
        }
        // Context Menu Wrapper
        .slds-dropdown > div[role='menu'] {
            transform: translateY(calc(-100% + 2px));
            transition: none;
            .footer-menu-items {
                width: calc(330px - 24px);
                border: 2px solid $navy;
            }
            @media screen and (max-width: 480px) {
                .footer-menu-items {
                    width: calc(295px - 24px);
                }
            }
        }
        .slds-dropdown__item {
            border: none;
            transition: none;
        }
        // Context Menu Item 
        .slds-dropdown__item > a {
            padding: 0 12px;
            font: 600 14px $font-body;
            line-height: 52px;
            height: 52px;
            &,            
            &:focus {
                border: none;
                box-shadow: none;
                color: $navy;
                text-decoration: none;
            }
        }
    }

    // Text Area Input
    .chasitorControls {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    // Text Areay Element
    .chasitorControls .uiInput {
        border: 2px solid $navy10;
        border-radius: 0;
        font: 14px $font-body;
        line-height: 20px;
        transition: none;
        padding: 6px 12px;
        color: $navy;
        min-height: 54px;
        &::placeholder {
            color: $navy;
        }
        &:focus {
            border-color: $navy;
        }
    }
    // Button for mobile (Send Icon)
    .chatActionButton.Send {
        padding: 0;
        width: 36px;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        align-items: center;
        justify-content: center;
        opacity: 1;
        // Send Icon
        svg {
            fill: $navy10;
            width: 16px;
            height: 16px;
        }
    }
    // The Send Icon
    .chatActionButton.Send:focus svg,
    .chatActionButton.Send:active svg {
        fill: $navy;
    }
}
// Waiting / Chat Ended / Queue Position Message Screens
// -----------------------------------------------------------------------------
// Chat ended message
.embeddedServiceLiveAgentStateChatEventMessage .eventMessage {
    margin: 16px 0 0;
}
.embeddedServiceLiveAgentStateChatItem.ended {
    margin-bottom: 24px;
}
// Greeting Name 
.embeddedServiceLiveAgentStateWaiting .waitingGreetingContent {
    margin: 0;
}
.embeddedServiceSidebarDialogState #dialogTextTitle,
.embeddedServiceLiveAgentStateWaiting .waitingGreeting, 
.embeddedServiceLiveAgentStateWaiting .waitingMessage {
    font: 900 36px $font-headline;
    line-height: 34px;
    text-align: center;
}
.embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage,
.embeddedServiceLiveAgentQueuePosition .queuePositionMessage {
    font: 600 18px $font-body;
    line-height: 24px;
    text-align: center;
    margin: 0;
    p {
        margin: 0;
    }
}
.embeddedServiceLiveAgentStateWaiting .embeddedServiceLiveAgentQueuePosition {
    margin: 0;
}
.embeddedServiceSidebarDialogState #dialogTextBody {
    font: 14px $font-body;
    line-height: 20px;
}
// Wait in line number with chat bubble icon
.embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .queuePositionNumber {
    font: 700 36px $font-body;
    line-height: 65px;
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    display: block;
}
// Chat bubble screen message
.embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .queuePositionNumber::before,
.embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage::before {
    content: '';
    background: url('data:image/svg+xml;utf-8,#{$svg-chat-bubble}') 50% 50%/90px auto no-repeat;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0px;
    display: block;
    z-index: -1;
}
// You're up next!
.embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage {
    position: relative;
    padding-top: 90px;
    &::before {
        content: '😃';
        font: 700 36px $font-body;
        line-height: 65px;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
    }
}
// Loading Animation (Three Pulsing Dots)
.embeddedServiceLiveAgentQueuePosition .queuePositionChatIcon {
    order: 1;
    margin: 24px 0;
    svg {
        display: none;
    }
}
// End Chat Button Container 
.embeddedServiceLiveAgentStateChat .endChatContainer {
    padding: 0 24px 12px;
    &::before {
        background: linear-gradient(to bottom, rgba($white, 0) 0%, $white 80%);
        z-index: 1;
    }
    button.uiButton {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
}