@charset "UTF-8";
html .modalContainer.embeddedServiceSidebar { -webkit-font-smoothing: antialiased; }

html .modalContainer.sidebarMinimized, html .embeddedServiceHelpButton .helpButton { bottom: 20px; right: 20px; }

html .embeddedServiceSidebarMinimizedDefaultUI, html .embeddedServiceHelpButton .helpButton .uiButton { position: absolute; right: 0; width: initial; height: initial; min-height: 48px; min-width: 48px; padding: 0; background: transparent; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); border-radius: 0; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-direction: row-reverse; flex-direction: row-reverse; color: #1C1E28; font: 600 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; transition: all 0.33s ease-in-out; border: none; }

html .embeddedServiceSidebarMinimizedDefaultUI span, html .embeddedServiceHelpButton .helpButton .uiButton span { pointer-events: none; }

html .embeddedServiceSidebarMinimizedDefaultUI .messageContent .embeddedServiceIcon, html .embeddedServiceHelpButton .helpButton .uiButton:hover::before, html .embeddedServiceHelpButton .helpButton .uiButton:focus::before { display: none; }

html .embeddedServiceSidebarMinimizedDefaultUI #chatButtonAssistiveText, html .embeddedServiceHelpButton .embeddedServiceIcon { margin: 0; padding: 0; width: 48px; height: 48px; min-width: 0; max-width: none; display: -ms-flexbox !important; display: flex !important; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; box-sizing: border-box; background: #10CC9E; position: absolute; right: 0; border-radius: 0; border: none; overflow: visible; box-shadow: none; font-size: 0; z-index: 1; }

html .embeddedServiceSidebarMinimizedDefaultUI #chatButtonAssistiveText::before, html .embeddedServiceHelpButton .embeddedServiceIcon::before { content: ''; position: absolute; top: 0; left: 0; width: 48px; height: 48px; background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M22,1H2A2,2,0,0,0,0,3V16a2,2,0,0,0,2,2H7.5L12,23l4.5-5H22a2,2,0,0,0,2-2V3A2,2,0,0,0,22,1ZM14,13H6V11h8Zm4-5H6V6H18Z"></path></svg>') 50% 50%/24px auto no-repeat; font-size: 24px; -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15)); filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15)); pointer-events: none; }

html .embeddedServiceSidebarMinimizedDefaultUI #chatButtonAssistiveText::after, html .embeddedServiceHelpButton .embeddedServiceIcon::after { content: ''; position: absolute; width: 0; height: 0; border-width: 12px; border-color: transparent #10CC9E transparent transparent; border-style: solid; left: -24px; top: 50%; -webkit-transform: translate3d(12px, -12px, 0); transform: translate3d(12px, -12px, 0); z-index: -1; transition: all 0.3s ease-in-out; }

html .embeddedServiceSidebarMinimizedDefaultUI #chatButtonAssistiveText:focus, html .embeddedServiceHelpButton .embeddedServiceIcon:focus { background: #10CC9E; }

html .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover, html .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus { background: #10CC9E; }

html .helpButtonDisabled .embeddedServiceIcon::before { background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M22,1H2A2,2,0,0,0,0,3V16a2,2,0,0,0,2,2H5v6l8-6h9a2,2,0,0,0,2-2V3A2,2,0,0,0,22,1Z"></path></svg>') 50% 50%/24px auto no-repeat; }

html .embeddedServiceHelpButton .uiButton .helpButtonLabel { position: relative; -ms-flex-pack: end; justify-content: flex-end; text-align: right; width: auto; height: 48px; background: #E7FAF5; border: 2px solid #10CC9E; border-right: none; white-space: nowrap; max-width: none; overflow: hidden; box-sizing: border-box; padding: 0; z-index: -1; transition: all 0.3s ease-in-out; }

html .embeddedServiceHelpButton .uiButton .helpButtonLabel .message { max-width: 0px; -webkit-transform: translate3d(15px, 0, 0); transform: translate3d(15px, 0, 0); opacity: 0; transition: all 0.33s ease-in-out; }

html .embeddedServiceSidebarMinimizedDefaultUI .content { padding: 0; -ms-flex-pack: end; justify-content: flex-end; }

html .embeddedServiceSidebarMinimizedDefaultUI .content { padding: 0; margin: 0; display: -ms-flexbox; display: flex; height: 48px; background: #E7FAF5; border: 2px solid #10CC9E; border-right: none; color: #1C1E28; font: 600 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; -ms-flex-pack: end; justify-content: flex-end; text-align: right; white-space: nowrap; max-width: none; -ms-flex-align: center; align-items: center; }

html .embeddedServiceSidebarMinimizedDefaultUI .minimizedImage { width: 16px; height: 16px; margin-right: 5px; }

html .embeddedServiceSidebarMinimizedDefaultUI .minimizedImage .uiImage { width: inherit; height: inherit; border-radius: 0; }

html .embeddedServiceSidebarMinimizedDefaultUI .minimizedImage img { width: inherit; height: inherit; -o-object-fit: contain; object-fit: contain; }

html .embeddedServiceSidebarMinimizedDefaultUI .messageContent { margin: 0; max-width: 0px; -webkit-transform: translate3d(15px, 0, 0); transform: translate3d(15px, 0, 0); opacity: 0; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-align: center; align-items: center; transition: all 0.33s ease-in-out; }

html .embeddedServiceSidebarMinimizedDefaultUI .queuePositionNumber { font: 600 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; }

html .embeddedServiceSidebarMinimizedDefaultUI .loadingBall { background: #10CC9E; }

html .embeddedServiceSidebarMinimizedDefaultUI:hover, html .embeddedServiceHelpButton .helpButton .uiButton:hover { border-radius: 0; padding-right: 48px; max-width: none; }

html .embeddedServiceSidebarMinimizedDefaultUI:hover .content, html .embeddedServiceSidebarMinimizedDefaultUI:hover .helpButtonLabel, html .embeddedServiceHelpButton .helpButton .uiButton:hover .content, html .embeddedServiceHelpButton .helpButton .uiButton:hover .helpButtonLabel { padding: 0 24px 0 12px; overflow: visible; }

html .embeddedServiceSidebarMinimizedDefaultUI:hover .messageContent, html .embeddedServiceSidebarMinimizedDefaultUI:hover .message, html .embeddedServiceHelpButton .helpButton .uiButton:hover .messageContent, html .embeddedServiceHelpButton .helpButton .uiButton:hover .message { max-width: 300px; -webkit-transform: translate3d(0px, 0, 0); transform: translate3d(0px, 0, 0); opacity: 1; transition: opacity 0.33s ease-out calc($trans-dur / 2), max-width 0.33s ease-out 0s; }

html .embeddedServiceSidebarMinimizedDefaultUI:hover #chatButtonAssistiveText::after, html .embeddedServiceSidebarMinimizedDefaultUI:hover .embeddedServiceIcon::after, html .embeddedServiceHelpButton .helpButton .uiButton:hover #chatButtonAssistiveText::after, html .embeddedServiceHelpButton .helpButton .uiButton:hover .embeddedServiceIcon::after { -webkit-transform: translate3d(0px, -12px, 0); transform: translate3d(0px, -12px, 0); }

html .embeddedServiceSidebarMinimizedDefaultUI:focus, html .embeddedServiceHelpButton .helpButton .uiButton:focus { outline: none; }

html .helpButtonEnabled:focus .helpButtonLabel { text-decoration: none; }

html .sidebarHeader[embeddedService-chatHeader_chatHeader] { padding: 12px 24px; border-bottom: 1px solid #E8EBEF; }

html [embeddedService-chatHeader_chatHeader-host] h2, html [embeddedService-chatHeader_chatHeader-host] h2[embeddedService-chatHeader_chatHeader] { color: #1C1E28; letter-spacing: normal; font-family: SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; font-weight: 600; }

html img[embeddedService-chatHeader_chatHeader] { display: none; }

html h2[embeddedService-chatHeader_chatHeader] { font: 700 18px "National", SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; position: relative; height: 50px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

html h2[embeddedService-chatHeader_chatHeader]:before { content: ''; display: block; position: relative; left: 0; width: 48px; height: 22px; background: url(https://cdn.shopify.com/s/files/1/0075/0505/1719/files/logo.gif?v=1610398645) 0 50%/contain no-repeat; margin-right: 5px; }

html button[embeddedService-chatHeader_chatHeader] { --icon-size: 24px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; width: var(--icon-size); height: var(--icon-size); cursor: pointer; background: transparent; position: relative; top: -2px; min-width: 0; min-height: 0; margin-left: 12px; padding: 0; }

html button[embeddedService-chatHeader_chatHeader] *:not(svg) { width: var(--icon-size); height: var(--icon-size); display: block; }

html button[embeddedService-chatHeader_chatHeader] svg { fill: #D2D2D4; }

html button[embeddedService-chatHeader_chatHeader]:hover svg { fill: #1C1E28; }

html button[embeddedService-chatHeader_chatHeader] svg[data-key="minimize_window"] { position: relative; top: -7px; }

html .embeddedServiceSidebarForm.formContent { padding: 24px 12px; }

html .embeddedServiceSidebarForm .fieldList { margin: 0; padding: 0; display: -ms-grid; display: grid; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; grid-gap: 12px; }

html .embeddedServiceSidebarFormField.inputSplitName, html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField { margin: 0; width: 100%; position: relative; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField:not(.inputSplitName) { grid-column: span 2; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .uiInput label { position: absolute; top: 0; bottom: 0; left: 0; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-direction: row-reverse; flex-direction: row-reverse; margin: 0; padding: 0 12px; font-family: SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; pointer-events: none; position: relative; -ms-flex-pack: end; justify-content: flex-end; padding: 0; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .split-field-container, html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .uiInput--input, html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .uiInput--select { margin: 0; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .split-field-container:focus > label, html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .uiInput--input:focus > label, html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .uiInput--select:focus > label { opacity: 0; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField .uiInput .required { position: relative; left: 0; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField input { border: 2px solid #D2D2D4; height: 54px; line-height: 54px; border-radius: 0; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField input:focus { outline: none; border: 2px solid #1C1E28; box-shadow: none; }

html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField input:-webkit-autofill, html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField input:-webkit-autofill:hover, html .embeddedServiceSidebarForm .embeddedServiceSidebarFormField input:-webkit-autofill:focus { box-shadow: inset 0 0 0 300px #F3FCFA; color: #1C1E28; }

html .embeddedServiceSidebarForm.buttonWrapper { padding: 12px; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton, html .embeddedServiceSidebarButton { border-radius: 0; height: 58px; font: 600 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 54px; letter-spacing: 0.1em; text-transform: uppercase; padding-top: 0; padding-bottom: 0; transition: all 0.15s ease-in-out; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton:not(:disabled):focus, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton:not(:disabled):hover, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton:hover, html .embeddedServiceSidebarButton:not(:disabled):focus, html .embeddedServiceSidebarButton:not(:disabled):hover, html .embeddedServiceSidebarButton:hover { background: #1C1E28 !important; box-shadow: none !important; text-decoration: none !important; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton .label, html .embeddedServiceSidebarButton .label { transition: all 0.15s ease-in-out; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.dialog-button-0, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.closeChatButton, html .embeddedServiceSidebarButton.dialog-button-0, html .embeddedServiceSidebarButton.closeChatButton { background: #ED2524; margin-bottom: 12px; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.dialog-button-1, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.saveTranscriptButton, html .embeddedServiceSidebarButton.dialog-button-1, html .embeddedServiceSidebarButton.saveTranscriptButton { background: transparent; border: 2px solid #E8E8E9; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.dialog-button-1 .label, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.saveTranscriptButton .label, html .embeddedServiceSidebarButton.dialog-button-1 .label, html .embeddedServiceSidebarButton.saveTranscriptButton .label { color: #1C1E28; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.dialog-button-1:hover, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.saveTranscriptButton:hover, html .embeddedServiceSidebarButton.dialog-button-1:hover, html .embeddedServiceSidebarButton.saveTranscriptButton:hover { background: transparent !important; border-color: #1C1E28; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.dialog-button-1:hover .label, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.saveTranscriptButton:hover .label, html .embeddedServiceSidebarButton.dialog-button-1:hover .label, html .embeddedServiceSidebarButton.saveTranscriptButton:hover .label { color: #1C1E28; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.dialog-button-1:focus, html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.saveTranscriptButton:focus, html .embeddedServiceSidebarButton.dialog-button-1:focus, html .embeddedServiceSidebarButton.saveTranscriptButton:focus { background: transparent !important; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.waitingCancelChat, html .embeddedServiceSidebarButton.waitingCancelChat { background: transparent; border: 2px solid #E8E8E9; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.waitingCancelChat .label, html .embeddedServiceSidebarButton.waitingCancelChat .label { color: #1C1E28; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.waitingCancelChat:hover, html .embeddedServiceSidebarButton.waitingCancelChat:hover { background: transparent !important; border-color: #ED2524; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.waitingCancelChat:hover .label, html .embeddedServiceSidebarButton.waitingCancelChat:hover .label { color: #ED2524; }

html .embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.waitingCancelChat:focus, html .embeddedServiceSidebarButton.waitingCancelChat:focus { background: transparent !important; }

html .embeddedServiceSidebarButton { background: #10CC9E; color: #FFFFFF; }

html .embeddedServiceSidebarButton:not(:disabled):focus, html .embeddedServiceSidebarButton:not(:disabled):hover, html .embeddedServiceSidebarButton:hover { background: #1C1E28; box-shadow: none !important; text-decoration: none !important; }

html .text[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement], html .announcement[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] { margin: 12px; padding: 15px; border-radius: 7px; width: auto; display: block; font: 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; color: #FFFFFF; position: relative; z-index: 1; }

html .text[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement]:before, html .announcement[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement]:before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: inherit; background: #1C1E28; opacity: 0.75; z-index: -1; }

html .embeddedServiceLiveAgentStateChat .messageArea:focus { border: none; }

html .embeddedServiceLiveAgentStateChat .chatSessionStartTime { color: #A2B1C1; font: 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; margin: 12px 0 12px; }

html .embeddedServiceLiveAgentStateChatItem.chatMessage { margin: 0; padding: 0 24px; display: -ms-grid; display: grid; grid-gap: 0 12px; -ms-grid-columns: 48px auto; grid-template-columns: 48px auto; font-family: SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; overflow: visible; }

html .embeddedServiceLiveAgentStateChatItem.chatMessage .chatContent { -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2/3; margin: 0; border-radius: 0; background: transparent; }

html .embeddedServiceLiveAgentStateChatItem.chatMessage .embeddedServiceLiveAgentStateChatEventMessage { grid-column: span 2; }

html .embeddedServiceLiveAgentStateChatItem .nameAndTimeContent { -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2/3; color: #A2B1C1; font-size: 12px; font-family: SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; -ms-flex-align: center; align-items: center; padding: 3px 0 6px 10px; margin: 0; }

html .embeddedServiceLiveAgentStateChatItem .nameAndTimeContent .nameAndTimeDotDivider { color: #A2B1C1; background: #A2B1C1; }

html .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent { white-space: initial; word-break: break-word; }

html .embeddedServiceLiveAgentStateChatItem .embeddedServiceLiveAgentStateChatAvatar { --chat-avatar-size: 48px; width: var(--chat-avatar-size); height: var(--chat-avatar-size); position: absolute; top: 0; left: 24px; }

html .embeddedServiceLiveAgentStateChatItem .isLightningOutContext .avatar.iconAvatar { background: #ED2524; width: var(--chat-avatar-size); height: var(--chat-avatar-size); line-height: var(--chat-avatar-size); display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; font-size: 24px; font-family: "National", SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; font-style: italic; font-weight: 900; top: 0; bottom: initial; margin: 0; padding: 0; }

html .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent { background: #E8EBEF; position: relative; border-radius: 0; z-index: 1; }

html .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent::before { content: ''; position: absolute; top: 0; left: -12px; border-width: 12px; border-style: solid; border-color: #E8EBEF #E8EBEF transparent transparent; z-index: -1; }

html .embeddedServiceLiveAgentStateChatItem.agent .agentName, html .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent { margin-left: 0; }

html .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent { background: #C3F2E7; color: #1C1E28; position: relative; z-index: 1; }

html .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent { max-width: none; border-radius: 0; }

html .embeddedServiceLiveAgentStateChatItem.chatMessage.chasitor { position: relative; }

html .embeddedServiceLiveAgentStateChatItem.chatMessage.chasitor .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent::before { content: ''; position: absolute; bottom: 0; right: -12px; border-width: 12px; border-style: solid; border-color: transparent transparent #C3F2E7 #C3F2E7; z-index: -1; }

html .embeddedServiceLiveAgentStateChat .messageWrapper, html .embeddedServiceLiveAgentStateChat .typingIndicatorContainer, html .embeddedServiceLiveAgentStateChat .queuePositionContainer { padding: 0 0 12px; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper { --icon-menu-width: 48px; background: transparent; display: -ms-grid; display: grid; -ms-grid-columns: var(--icon-menu-width) auto; grid-template-columns: var(--icon-menu-width) auto; grid-gap: 0 12px; padding: 0 12px 12px; height: initial; min-height: initial; max-height: 72px; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper:before { content: ''; position: absolute; left: 0; right: 0; height: 12px; top: 0; -webkit-transform: translateY(-100%); transform: translateY(-100%); background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 80%); z-index: 1; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .unseenMessageNotificationWrapper { position: absolute; left: 12px; top: -24px; width: var(--icon-menu-width); z-index: 1; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .unseenMessageNotificationWrapper * { box-shadow: none !important; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .unseenMessageNotificationWrapper .unseenMessageNotification[embeddedService-chatUnseenMessageNotification_chatUnseenMessageNotification] { left: 6px; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .unseenMessageNotificationWrapper button.slds-button { width: 36px; height: 36px; border-radius: 18px; background: #E8EBEF; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .unseenMessageNotificationWrapper button.slds-button svg.slds-button__icon { fill: #1C1E28; top: 2px; position: relative; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .unseenMessageNotificationWrapper button.slds-button:focus svg.slds-button__icon { fill: #D2D2D4; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper { position: relative; z-index: 1; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu { width: 100%; height: 100%; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown-trigger { padding: 0; width: inherit; height: inherit; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown-trigger button { width: 100%; height: 100%; line-height: 1; -webkit-transform: none; transform: none; outline: none; box-shadow: none; border: 2px solid transparent; border-radius: 0; transition: none; background: #FFFFFF url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><rect width="26" height="3" transform="translate(14 30)" fill="rgb(210, 210, 212)"/><rect width="26" height="3" transform="translate(14 22)" fill="rgb(210, 210, 212)"/></svg>') 50% 50%/52px auto no-repeat; position: relative; z-index: 1; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown-trigger button * { visibility: hidden; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-is-open button, html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown-trigger button:focus { outline: none; border-color: #1C1E28; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown-trigger button:focus { background: #FFFFFF url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><rect width="26" height="3" transform="translate(14 30)" fill="rgb(28, 30, 40)"/><rect width="26" height="3" transform="translate(14 22)" fill="rgb(28, 30, 40)"/></svg>') 50% 50%/52px auto no-repeat; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-is-open button { background: #FFFFFF url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 54 54"> <rect fill="rgb(28, 30, 40)" x="25.2" y="13.9" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.1719 26.7594)" width="3" height="26"/> <rect fill="rgb(28, 30, 40)" x="13.7" y="25.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -11.1719 26.7594)" width="26" height="3"/></svg>') 50% 50%/52px auto no-repeat; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-is-open button::before { content: ''; position: absolute; left: 0px; top: -2px; background: #FFFFFF; z-index: 1; width: 44px; height: 2px; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown { box-shadow: none; min-width: 0; max-width: none; width: 100%; box-shadow: none; position: absolute; bottom: initial; left: 0; height: 100%; top: 0; background: none; transition: none; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown > div[role='menu'] { -webkit-transform: translateY(calc(-100% + 2px)); transform: translateY(calc(-100% + 2px)); transition: none; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown > div[role='menu'] .footer-menu-items { width: calc(330px - 24px); border: 2px solid #1C1E28; }

@media screen and (max-width: 480px) { html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown > div[role='menu'] .footer-menu-items { width: calc(295px - 24px); } }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown__item { border: none; transition: none; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown__item > a { padding: 0 12px; font: 600 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 52px; height: 52px; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown__item > a, html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .footerMenuWrapper .footer-menu .slds-dropdown__item > a:focus { border: none; box-shadow: none; color: #1C1E28; text-decoration: none; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chasitorControls { width: 100%; height: 100%; margin: 0; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chasitorControls .uiInput { border: 2px solid #E8E8E9; border-radius: 0; font: 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 20px; transition: none; padding: 6px 12px; color: #1C1E28; min-height: 54px; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chasitorControls .uiInput::-webkit-input-placeholder { color: #1C1E28; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chasitorControls .uiInput:-ms-input-placeholder { color: #1C1E28; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chasitorControls .uiInput::-ms-input-placeholder { color: #1C1E28; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chasitorControls .uiInput::placeholder { color: #1C1E28; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chasitorControls .uiInput:focus { border-color: #1C1E28; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chatActionButton.Send { padding: 0; width: 36px; position: absolute; top: 0; right: 0; border: 0; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; opacity: 1; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chatActionButton.Send svg { fill: #E8E8E9; width: 16px; height: 16px; }

html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chatActionButton.Send:focus svg, html .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper .chatActionButton.Send:active svg { fill: #1C1E28; }

html .embeddedServiceLiveAgentStateChatEventMessage .eventMessage { margin: 16px 0 0; }

html .embeddedServiceLiveAgentStateChatItem.ended { margin-bottom: 24px; }

html .embeddedServiceLiveAgentStateWaiting .waitingGreetingContent { margin: 0; }

html .embeddedServiceSidebarDialogState #dialogTextTitle, html .embeddedServiceLiveAgentStateWaiting .waitingGreeting, html .embeddedServiceLiveAgentStateWaiting .waitingMessage { font: 900 36px "National", SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 34px; text-align: center; }

html .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage, html .embeddedServiceLiveAgentQueuePosition .queuePositionMessage { font: 600 18px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 24px; text-align: center; margin: 0; }

html .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage p, html .embeddedServiceLiveAgentQueuePosition .queuePositionMessage p { margin: 0; }

html .embeddedServiceLiveAgentStateWaiting .embeddedServiceLiveAgentQueuePosition { margin: 0; }

html .embeddedServiceSidebarDialogState #dialogTextBody { font: 14px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 20px; }

html .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .queuePositionNumber { font: 700 36px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 65px; position: relative; width: 90px; height: 90px; margin: 0 auto; display: block; }

html .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .queuePositionNumber::before, html .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage::before { content: ''; background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90 90"><path fill="rgb(232, 235, 239)" d="M6.3,0.8h77.4c3.1,0,5.5,2.5,5.5,5.5v55.3c0,3.1-2.5,5.5-5.5,5.5H56.1L22.9,89.2V67.1H6.3 c-3.1,0-5.5-2.5-5.5-5.5c0,0,0,0,0,0V6.3C0.8,3.3,3.3,0.8,6.3,0.8z"/></svg>') 50% 50%/90px auto no-repeat; width: 90px; height: 90px; position: absolute; top: 0px; display: block; z-index: -1; }

html .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage { position: relative; padding-top: 90px; }

html .embeddedServiceLiveAgentQueuePosition.queuePositionWaiting .youAreNextMessage::before { content: '😃'; font: 700 36px SourceSansPro, "Source Sans Pro", Helvetica, Arial, sans-serif; line-height: 65px; left: 0; right: 0; margin: auto; top: 0; }

html .embeddedServiceLiveAgentQueuePosition .queuePositionChatIcon { -ms-flex-order: 1; order: 1; margin: 24px 0; }

html .embeddedServiceLiveAgentQueuePosition .queuePositionChatIcon svg { display: none; }

html .embeddedServiceLiveAgentStateChat .endChatContainer { padding: 0 24px 12px; }

html .embeddedServiceLiveAgentStateChat .endChatContainer::before { background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 80%); z-index: 1; }

html .embeddedServiceLiveAgentStateChat .endChatContainer button.uiButton { width: 100%; margin-left: 0; margin-right: 0; }
