.accessibleText[embeddedService-ariaLiveAnnouncer_ariaLiveAnnouncer] {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.embeddedServiceFlowInput .fieldTitle {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFlowInput .flowHelpText {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFlowInput .useStandardFocus:focus {
    border: 1px solid var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatAvatar.isLightningOutContext .agentIconColor0 {
    background-color: var(--lwc-colorBrandSecondaryLuminance0, #d52120)
}

.embeddedServiceLiveAgentStateChatAvatar.isLightningOutContext .agentIconColor1 {
    background-color: var(--lwc-colorBrandSecondaryLuminance5, #8c1615)
}

.embeddedServiceLiveAgentStateChatAvatar.isLightningOutContext .agentIconColor2 {
    background-color: var(--lwc-colorBrandSecondaryLuminance2, #c01e1d)
}

.embeddedServiceLiveAgentStateChatAvatar.isLightningOutContext .agentIconColor3 {
    background-color: var(--lwc-colorBrandSecondaryLuminance6, #7e1413)
}

.embeddedServiceLiveAgentStateChatAvatar.isLightningOutContext .agentIconColor4 {
    background-color: var(--lwc-colorBrandSecondaryLuminance1, #d93736)
}

.embeddedServiceLiveAgentStateChatAvatar.isLightningOutContext .agentIconColor5 {
    background-color: var(--lwc-colorBrandSecondaryLuminance4, #9c1817)
}

.embeddedServiceLiveAgentStateChatAvatar.isLightningOutContext .agentIconColor6 {
    background-color: var(--lwc-colorBrandSecondaryLuminance3, #ad1b1a)
}

.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext {
    background-color: var(--lwc-colorBrandSecondaryLuminance0, #d52120)
}

.embeddedServiceLiveAgentStateChatEventMessage .eventMessage {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLoadingBalls .loadingBall {
    background-color: var(--lwc-colorBrandPrimary, #ed2524)
}

.embeddedServiceLiveAgentStateChatItem .chatContent:focus {
    outline: 1px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatItem.chatMessage button {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceLiveAgentStateChatItem.chatMessage button span {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatItem.chatMessage button:focus span {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatItem.chatMessage button:hover,
.embeddedServiceLiveAgentStateChatItem.chatMessage button:hover:focus {
    background: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatItem.chatMessage button:active,
.embeddedServiceLiveAgentStateChatItem.chatMessage button:active:focus,
.embeddedServiceLiveAgentStateChatItem.chatMessage button:active:hover {
    background: var(--lwc-colorTextDefaultDarken20, #292929)
}

.embeddedServiceLiveAgentStateChatItem .rich-button-item,
.embeddedServiceLiveAgentStateChatItem .rich-menu-item {
    color: var(--lwc-colorBackgroundContrastPrimary, #333333)
}

.embeddedServiceFlowInputBaseCheckbox.uiInputCheckbox>input:checked:after {
    border-bottom: 2px solid var(--lwc-colorBorderBrandSecondary, #ed2524);
    border-left: 2px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputBaseCheckbox.uiInputCheckbox>label {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFlowInputDate .uiInputDate>input:focus {
    border: 2px solid var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputDate .uiDatePicker.visible {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceFlowInputDate .datepicker__filter--month .monthYear {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceFlowInputDate .uiDatePicker--default .dateBar .slds-select {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif;
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFlowInputDate .calGrid .dayOfWeek {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceFlowInputDate .uiDatePickerGrid .calGrid .calRow td.uiDayInMonthCell {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceFlowInputDate .calGrid .uiDayInMonthCell>span,
.embeddedServiceFlowInputDate .calGrid .uiDayInMonthCell.slds-is-selected>span {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif;
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFlowInputDate .calGrid .uiDayInMonthCell.slds-is-selected>span {
    border: 1px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputDate .calGrid .uiDayInMonthCell .todayDate {
    background: var(--lwc-colorBrandSecondaryLighten40, #f47c7c)
}

.embeddedServiceFlowInputDate .calGrid .uiDayInMonthCell.slds-is-selected .todayDate {
    background: var(--lwc-colorBrandSecondaryLighten40, #f47c7c)
}

.embeddedServiceFlowInputDate .calGrid .uiDayInMonthCell:not(.slds-is-selected):hover>.todayDate {
    background: var(--lwc-colorBrandSecondaryLighten60, #f8a8a7)
}

.embeddedServiceLiveAgentStateChatBubble.agent .chatContent {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatBubble.agent .chatContent a {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatBubble.chasitor .chatContent {
    background: var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatButtonItem {
    border: 1px solid var(--lwc-colorBackgroundContrastPrimary, #333333)
}

.embeddedServiceSidebarButton {
    background: var(--lwc-colorBrandSecondary, #ed2524);
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceSidebarButton:disabled {
    background: var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceSidebarButton:focus {
    box-shadow: 0 0 3px 0 var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceSidebarButton:not(:disabled):focus,
.embeddedServiceSidebarButton:not(:disabled):hover {
    background: var(--lwc-colorBrandSecondaryDarken40, #8e1616)
}

.embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):focus,
.embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):hover {
    text-decoration-color: var(--lwc-colorTextBrand, #ed2524)
}

.embeddedServiceSidebarButton.uiButton--inverse .label {
    color: var(--lwc-colorTextBrand, #ed2524)
}

.embeddedServiceSidebarFormField .slds-style-inputtext,
.embeddedServiceSidebarFormField .slds-style-select {
    color: var(--lwc-colorTextDefault, #333333);
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceSidebarFormField .slds-style-inputtext:focus,
.embeddedServiceSidebarFormField .slds-style-select:focus {
    border: 1px solid var(--lwc-colorBorderBrandSecondary, #ed2524);
    box-shadow: 0 0 2px 0 var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceSidebarFormField .uiInput .uiLabel-left {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceSidebarFormField .uiInputSelect:after {
    border-top: 7px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputCheckbox input:focus {
    border: 1px solid var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputMultiSelect .uiInput:focus {
    border: 1px solid var(--lwc-colorBrandSecondary, #ed2524);
    box-shadow: 0 0 3px var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputMultiSelect .uiInput option {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceFlowInputRadio .uiInputRadio>input:focus {
    border: solid 2px var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputRadio .uiInputRadio>input:checked:after {
    background-color: var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceFlowInputRadio .uiInputRadio>label {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFlowInputSelect .dropdownChevron svg {
    fill: var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceFlowOutputDisplayText.uiOutputRichText {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentQueuePosition .embeddedServiceLoadingBalls .loadingBall {
    background-color: var(--lwc-colorBrandPrimary, #ed2524)
}

.embeddedServiceLiveAgentStateChatInputFooter .chasitorText {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif;
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatInputFooter .chasitorText.textAreaIsFocused {
    border-color: var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu-items {
    width: var(--lwc-sidebarWidth, 330px)
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:hover,
.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:focus,
.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:active {
    color: var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button:focus {
    box-shadow: 0 0 3px var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-dropdown-trigger_click.slds-is-open .slds-button {
    color: var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-dropdown {
    max-width: var(--lwc-sidebarWidth, 330px)
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu-items .slds-dropdown__item>a:focus {
    border: solid 1px var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatInputFooter .unseenMessageNotificationWrapper .unseenMessageBubble {
    background-color: var(--lwc-colorBackgroundContrastPrimary, #333333)
}

.embeddedServiceLiveAgentStateChatInputFooter .unseenMessageNotificationWrapper .scrollDownButton .slds-button:focus {
    box-shadow: 0 0 3px var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChatMenuMessage .rich-menu-item {
    color: var(--lwc-colorBackgroundContrastPrimary, #333333)
}

.embeddedServiceLiveAgentStateChatMenuMessage .chatContent .rich-menu-item:hover,
.embeddedServiceLiveAgentStateChatMenuMessage .chatContent .rich-menu-item:active,
.embeddedServiceLiveAgentStateChatMenuMessage .chatContent .rich-menu-item:hover:active,
.embeddedServiceLiveAgentStateChatMenuMessage .chatContent .rich-menu-item:focus,
.embeddedServiceLiveAgentStateChatMenuMessage .chatContent .rich-menu-item:focus:hover {
    color: var(--lwc-colorBackgroundContrastPrimary, #333333)
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent a {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {
    background: var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceServiceAppointmentFullView .fieldServiceAppointmentDetailContainer {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceServiceAppointmentReducedView .appointmentHeader {
    color: var(--lwc-colorTextDefault, #333333);
    font-family: var(--lwc-fontFamily, "Salesforce Sans")
}

.embeddedServiceServiceAppointmentReducedView .appointmentHeaderTimespan .timespanSection {
    color: var(--lwc-colorTextDefaultDarken60, #141414)
}

.embeddedServiceServiceAppointmentReducedView .appointmentHeaderDate {
    color: var(--lwc-colorTextDefaultLighten20, #5c5c5c)
}

.embeddedServiceServiceAppointmentReducedView .appointmentHeaderAddress {
    color: var(--lwc-colorTextDefaultLighten20, #5c5c5c)
}

.embeddedServiceServiceResourceFullView .fieldServiceResourceDetailContainer {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceServiceResourceReducedView .resourceHeader {
    color: var(--lwc-colorTextDefault, #333333);
    font-family: var(--lwc-fontFamily, "Salesforce Sans")
}

.embeddedServiceSidebarForm .backgroundImgColorMask {
    background-color: var(--lwc-colorBrandPrimary, #ed2524)
}

.embeddedServiceFieldServiceStateAppointmentHome .slds-form-element__label {
    color: var(--lwc-colorTextDefaultLighten20, #5c5c5c)
}

.embeddedServiceFieldServiceStateAppointmentHome .itemBody .slds-form-element__static {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFieldServiceStateAppointmentHome .forceOutputLookupWithPreview a.textUnderline,
.embeddedServiceFieldServiceStateAppointmentHome .fieldServiceAppointmentAssignedResources .outputLookupLink {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFieldServiceStateAppointmentHome .uiOutputCheckbox img.checked {
    background-color: var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceFieldServiceStateAppointmentList .appointmentItem:focus {
    outline: 1px solid var(--lwc-colorBorderBrandPrimary, #ed2524)
}

.embeddedServiceFieldServiceStateAppointmentList .appointmentItem:focus .appointmentDrillinIconContainer .appointmentDrillinIcon svg {
    fill: var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceFieldServiceStateAppointmentList .appointmentAction.back span {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFieldServiceStateAppointmentList .noAppointmentsMessage .noAppointmentsTitle {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFieldServiceStateAppointmentList .noAppointmentsMessage .noAppointmentsDescription {
    color: var(--lwc-colorTextDefaultLighten40, #858585)
}

.embeddedServiceFieldServiceStateAppointmentList .appointmentListTab .slds-tabs_default__item {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFieldServiceStateHome .fieldServiceHeroImage {
    background-color: var(--lwc-esColorBackgroundAlt2, #ffffff)
}

.embeddedServiceFieldServiceStateHome .fieldServiceHomeTitle {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceFieldServiceStateHome .fieldServiceHomeSubtitle {
    color: var(--lwc-colorTextDefault, #333333)
}

@media only screen and (min-width:48em) {
    .embeddedServiceFlowStateViewer .actionsRight .uiButton:not(:only-child):first-child span {
        color: var(--lwc-colorTextDefault, #333333)
    }

    .embeddedServiceFlowStateViewer .actionsRight .uiButton:not(:only-child):nth-child(2) {
        float: right
    }

    .embeddedServiceFlowStateViewer .centerWrapper>.body {
        height: calc(100% - 56px)
    }
}

.embeddedServiceLiveAgentStateChat .messageArea:focus {
    border: 1px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChat .chatSessionStartTime {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.postChatButton.saveTranscriptButton {
    border: 1px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.postChatButton.saveTranscriptButton span,
.embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton.postChatButton.saveTranscriptButton:hover span {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceLiveAgentStateWaiting .loadingBall {
    background-color: var(--lwc-colorBrandPrimary, #ed2524)
}

.embeddedServiceLiveAgentStateWaiting a.waitingStateLink:focus {
    box-shadow: 0 0 3px 0 var(--lwc-colorBrandSecondary, #ed2524)
}

.embeddedServiceSidebarDialogState #dialogTextTitle {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceSidebarDialogState #dialogTextBody {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceSidebarExtendedHeader {
    background-color: var(--lwc-esColorBackgroundAlt2, #ffffff)
}

.forceRecordLayout.forceHighlightsTemplate .highlightsH1.light {
    color: var(--lwc-colorTextDefault, #333333)
}

.embeddedServiceSidebarHeader {
    background-color: var(--lwc-esColorBackgroundAlt2, #ffffff)
}

.embeddedServiceSidebarHeader .shortHeaderPattern {
    background-color: var(--lwc-esColorBackgroundAlt2, #ffffff)
}

.embeddedServiceSidebarHeader .headerItem:focus:after {
    border: 1px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceSidebarHeader .headerButton {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceSidebarHeader .headerButton:focus:after {
    border: 1px solid var(--lwc-colorBorderBrandSecondary, #ed2524)
}

.embeddedServiceSidebar.modalContainer {
    font-family: var(--lwc-fontFamily, "Salesforce Sans"), sans-serif
}

.embeddedServiceSidebar .helpButtonMinimize {
    background: var(--lwc-colorBrandPrimary, #ed2524);
    box-shadow: none;
    width: 193px
}

.embeddedServiceSidebar.sidebarMaximized.layout-float .minimizedContainer {
    display: inline-block
}

@media only screen and (min-width:48em) {
    .embeddedServiceSidebar.layout-modal .dockableContainer {
        max-width: var(--lwc-sidebarWidth, 330px);
        height: 60%;
        max-height: var(--lwc-sidebarHeight, 513px)
    }

    .embeddedServiceSidebar.layout-modal .sidebarBody {
        border-radius: 0 0 4px 4px
    }
}

.embeddedServiceSidebar.layout-docked .dockableContainer {
    width: var(--lwc-sidebarWidth, 330px);
    max-height: var(--lwc-sidebarHeight, 513px);
    border-radius: 8px 8px 0 0
}

.embeddedServiceSidebar.layout-float .dockableContainer {
    position: fixed;
    left: auto;
    bottom: 100px;
    right: 30px;
    margin: 0;
    height: 90%;
    width: var(--lwc-sidebarWidth, 330px);
    max-height: var(--lwc-sidebarHeight, 513px);
    border-radius: 8px 8px 8px 8px
}

.embeddedServiceSidebarMinimizedDefaultUI {
    background-color: var(--lwc-esColorBackgroundAlt2, #ffffff);
    border-color: var(--lwc-esColorBackgroundAlt2, #ffffff)
}

.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover {
    background-color: var(--lwc-colorBackgroundAlt2Darken20, #ffffff)
}

.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus {
    background-color: var(--lwc-colorBackgroundAlt2Darken20, #ffffff)
}

.embeddedServiceSidebarMinimizedDefaultUI.helpButton {
    background-color: var(--lwc-esColorBackgroundAlt2, #ffffff);
    border-color: var(--lwc-esColorBackgroundAlt2, #ffffff)
}

.embeddedServiceSidebarMinimizedDefaultUI.newMessage,
.embeddedServiceSidebarMinimizedDefaultUI.idleTimeout {
    background-color: var(--lwc-colorBrandSecondary, #ed2524)
}

[embeddedService-chatHeader_chatHeader-host] {
    direction: inherit;
    height: 50px;
    min-height: 50px
}

.headerAnnouncement[embeddedService-chatHeader_chatHeader],
.loadingAnimation[embeddedService-chatHeader_chatHeader],
.sidebarHeader[embeddedService-chatHeader_chatHeader] {
    width: 100%;
    max-width: 100%;
    background-color: inherit;
    transition: background-color 1s ease
}

.sidebarHeader[embeddedService-chatHeader_chatHeader] {
    z-index: 3
}

.loadingAnimation[embeddedService-chatHeader_chatHeader] {
    z-index: 2
}

.headerAnnouncement[embeddedService-chatHeader_chatHeader] {
    z-index: 1;
    position: absolute;
    right: 0;
    font-size: .75em;
    height: fit-content
}

.sidebarHeader[embeddedService-chatHeader_chatHeader] {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 0 14px;
    height: 100%
}

img[embeddedService-chatHeader_chatHeader] {
    margin-right: 8px;
    max-height: 36px;
    max-width: 36px
}

[dir="rtl"] img[embeddedService-chatHeader_chatHeader] {
    margin-right: 0;
    margin-left: 8px
}

h2[embeddedService-chatHeader_chatHeader] {
    margin: 0;
    align-self: center;
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: .025em
}

button[embeddedService-chatHeader_chatHeader] {
    background: none;
    border: none;
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px
}

button:hover[embeddedService-chatHeader_chatHeader]:before {
    content: " ";
    position: absolute;
    top: 9px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    opacity: .2;
    border-radius: 4px;
    box-sizing: border-box;
    pointer-events: none
}

button.minimizeButton:hover[embeddedService-chatHeader_chatHeader]:before {
    right: 46px
}

button.closeButton:hover[embeddedService-chatHeader_chatHeader]:before {
    right: 14px
}

button.closeButton[embeddedService-chatHeader_chatHeader] {
    padding-top: 4px
}

[dir="rtl"] button.minimizeButton:hover[embeddedService-chatHeader_chatHeader]:before {
    left: 46px;
    right: unset
}

[dir="rtl"] button.closeButton:hover[embeddedService-chatHeader_chatHeader]:before {
    left: 14px;
    right: unset
}

[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement-host] {
    display: flex;
    flex-direction: column;
    visibility: hidden
}

p[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] {
    background-color: inherit;
    width: 100%;
    visibility: visible;
    padding: 12px;
    margin: 0;
    top: 0;
    right: 0;
    overflow-y: scroll;
    word-wrap: break-word;
    box-sizing: border-box;
    display: inline-table;
    z-index: inherit
}

.text[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] {
    animation: slide 2s;
    -webkit-animation: slide 2s
}

.loadingAnimation[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] {
    animation: slide 1.85s;
    -webkit-animation: slide 1.85s
}

.temporary[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] {
    visibility: hidden;
    animation: temporary 2s;
    -webkit-animation: temporary 2s
}

.announcement[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] {
    visibility: hidden;
    animation: announcement 6.5s;
    -webkit-animation: announcement 6.5s
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-50px)
    }

    85% {
        transform: translateY(0)
    }

    to {
        opacity: 1
    }
}

@keyframes temporary {
    0% {
        visibility: visible;
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes announcement {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateY(-50px)
    }

    15% {
        transform: translateY(0)
    }

    18% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

[embeddedService-loadingAnimation_loadingAnimation-host] {
    position: relative
}

[embeddedService-loadingAnimation_loadingAnimation-host].showLoadingAnimation {
    opacity: 1;
    display: block;
    visibility: visible;
    background-color: inherit
}

[embeddedService-loadingAnimation_loadingAnimation-host].hideLoadingAnimation {
    opacity: 0;
    display: none
}

.loadingBall[embeddedService-loadingAnimation_loadingAnimation] {
    font-size: 8px;
    text-align: center;
    margin: 3px;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%
}

.loadingBall.first[embeddedService-loadingAnimation_loadingAnimation] {
    animation: ballanimate 2.25s ease-in-out infinite
}

.loadingBall.second[embeddedService-loadingAnimation_loadingAnimation] {
    animation: ballanimate-2 2.25s ease-in-out infinite
}

.loadingBall.third[embeddedService-loadingAnimation_loadingAnimation] {
    animation: ballanimate-3 2.25s ease-in-out infinite
}

@keyframes ballanimate {
    0% {
        transform: scale(1)
    }

    16% {
        transform: scale(1.5)
    }

    32% {
        transform: scale(1)
    }
}

@keyframes ballanimate-2 {
    32% {
        transform: scale(1)
    }

    48% {
        transform: scale(1.5)
    }

    64% {
        transform: scale(1)
    }
}

@keyframes ballanimate-3 {
    64% {
        transform: scale(1)
    }

    80% {
        transform: scale(1.5)
    }

    96% {
        transform: scale(1)
    }
}