<template>
    <div id='app'>
        <div class='col'>
            <h3>Email Signature in Two Steps</h3>
            <div class='email-window'>
                <SignatureHTML
                    ref='SignatureHTML'
                    :signature='signature'
                    :removeAnchors='removeAnchors'
                />
            </div>
            <SignatureInstructions
                :activeIndex='activeIndex'
                :activeDeviceName='activeDeviceName'
                @change='index => activeIndex = index'
                :tabs='clients'
            />
        </div>
        <div class='col'>
            <h3>1. Enter Your Information</h3>
            <SignatureForm
                @input='onInput'
                @submit='onSubmit'
            />
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

// Components
import SignatureHTML from './components/SignatureHTML.vue';
import SignatureForm from './components/SignatureForm.vue';
import SignatureInstructions from './components/SignatureInstructions.vue';

import defaults from './defaults';
import { IClient } from './types';

export default Vue.extend({
    name: 'App',
    components: {
        SignatureHTML,
        SignatureForm,
        SignatureInstructions
    },
    data() {
        return {
            signature: {
                ...defaults.signature
            } as { [key: string]: any; },
            activeIndex: -1,
            clients: [
                {
                    name: 'Outlook Office 365',
                    device: 'All Browsers',
                    icon: require('@/assets/icon-outlook.png'),
                },
                {
                    name: 'Apple Mail',
                    device: 'macOS Desktop',
                    icon: require('@/assets/icon-macmail.png'),
                },
                {
                    name: 'Windows Mail',
                    device: 'Windows Desktop',
                    icon: require('@/assets/icon-windowsmail.png'),
                },
            ] as IClient[]
        }
    },
    computed: {
        activeDeviceName(): string {
            return this.activeIndex === -1 ? '' : this.clients[this.activeIndex].name;
        },
        removeAnchors(): boolean {
            switch(this.activeDeviceName) {
                case 'Windows Mail':
                case 'Outlook Office 365':
                    return true;
                default:
                    return false;
            }
        }
    },
    methods: {
        copyElementToClipboard() {
            const element = (this.$refs.SignatureHTML as Vue).$el;
            const selection: any = getSelection();
            
            selection.removeAllRanges();

            let range = document.createRange();
            range.selectNode(element);
            // @ts-ignore
            selection.addRange(range);
            document.execCommand('copy');
            // @ts-ignore
            selection.removeAllRanges();
        },
        onInput(payload: { id: string; value: string }) {
            switch (payload.id) {
                case 'tel':
                case 'tel2':
                    this.signature[payload.id] = payload.value.replace(/\D|\W|\s/gi, '');
                    break;
                default:
                    this.signature[payload.id] = payload.value;
                    break;
            }
        },
        onSubmit() {
            this.copyElementToClipboard();
        }
    }
});
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import './styles/theme.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $navy5;
    padding: 0;
    font: 400 16px/1.5 'Source Sans Pro';
    min-height: 101vh;
}

#app {
    font-family: 'Source Sans Pro', sans-serif;
    color: $navy;
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-gap: 30px;
}

.col {
    position: relative;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: $navy40;
}

.email-window {
    padding: 100px 15px;
    height: 347px;
    box-sizing: border-box;
    background: white;
    p {
        margin: 0 0 20px;
    }
    p:last-of-type {
        margin-bottom: 40px;
    }
    + button {
        margin-top: 15px;
        align-self: flex-end;
    }
}

</style>
